﻿@{
    ViewBag.Title = "Upload Media Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  
@section AddToHeadCss{
    <link rel="stylesheet" href="@Url.Content("/assets/css/jquery-ui.custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-timepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/daterangepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-datetimepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/colorpicker.css")" />
}
@section AddToEndBodyJs{
    <script src="@Url.Content("/Content/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("/Content/ckfinder/ckfinder.js")"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/additional-methods.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
    <script src="/assets/js/jquery.maskedinput.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
  
<script type="text/javascript">
    function BrowseServer() {
        var finder = new CKFinder();
        finder.basePath = '/Content/ckfinder/';
        finder.selectActionFunction = SetFileField;
        finder.resourceType = 'Images';
        finder.popup();
    }
    function SetFileField(fileUrl) {
        $("#inputImg").attr("value",  fileUrl);
         $("#inputImg_tmp").attr("value", window.location.origin + fileUrl);
    }
   
</script>
}
<div class="page-header">
    <h1>
        Upload Media Management
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
      

            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right" for="title">
                    Image
                </label>
                <div class="col-sm-11">

                    <input type="text" name="img_tmp" id="inputImg_tmp" value="" />
                    <input type="hidden" name="img" id="inputImg" value="" />
                    <input id="browseServer" value="Browse Server" type="button" onclick="BrowseServer()">

                </div>
            </div>
          

        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
