﻿<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <meta name="description" content="@ViewBag.metadesc">
    <meta name="keywords" content="@ViewBag.keywords">
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/">
	<meta name="DC.title" content="  Australian Centre for English Training">
	<meta name="DC.identifier" content="http://demo.acet.edu.vn/">
	<meta name="DC.description" content="@ViewBag.metadesc">
	<meta name="geo.region" content="VN" />
	<meta name="geo.placename" content="Ho Chi Minh City" />
	<meta name="geo.position" content="10.778187;106.682393" />
	<meta name="ICBM" content="10.778187, 106.682393" />
	<link rel="meta" type="application/rdf+xml" href="http://acet.akadigital.vn/fichero.rdf" />


    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.ico">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <!-- Custom styles for this template -->
    <!-- Resources -->
    
    <link href="/home/fonts/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/home/css/animate.css" rel="stylesheet">
    <link href="/home/css/lightbox.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href="/home/css/jquery.bxslider.css" rel="stylesheet">
    <link href="/home/css/fullcalendar.css" rel="stylesheet">
    <link href="/home/css/jquery-ui.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="/home/css/style_@(ViewBag.lang).css" rel="stylesheet">
    <style type="text/css">
        .loading_a {
            position: fixed;
            z-index: 999999999;
            width: 100%;
            height: 100%;
            top: 0;
            background: #fff url('/home/img/loading.gif') center center no-repeat;
            min-width: 100%;
            max-width: 100%;
            display: block;
            overflow: hidden;
            opacity:0.6;
        }

    </style>
    <script type="text/javascript">
    function showLoading(){
        $('.loading_a').removeClass("hide");
    }
    function hideLoading(){
       $('.loading_a').addClass("hide");
    }
    </script>
   <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                z.set.
                _.push(o)
            }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");
            $.src = "//v2.zopim.com/?3CPZ4Qd4ne12UGjiWu6No2ld4Eh1SgnR"; z.t = +new Date; $.
            type = "text/javascript"; e.parentNode.insertBefore($, e)
        })(document, "script");
         $zopim(function() {
			$zopim.livechat.setLanguage('en');
			$zopim.livechat.setGreetings({
				'offline': ['Instant message now', 'Instant message now']
			});
			$zopim.livechat.window.setTitle('Learning advisor');
			$zopim.livechat.badge.setImage('http://acet.akadigital.vn/home/img/onlinechat_en.jpg');
			$zopim.livechat.prechatForm.setGreetings('Please introduce yourself.');
			$zopim.livechat.departments.setLabel('Choose your location');
			$zopim.livechat.concierge.setName('Learning Advisor - Live Chat');
			$zopim.livechat.concierge.setTitle('You can ask me anything');
			$zopim.livechat.offlineForm.setGreetings('The Learning Advisor is currently offline. Please leave your questions below and we will reply within 24 hours. Introduce yourself: name, email, city');
		}); 
    </script>
     
 <!--End of Zopim Live Chat Script-->
    @if (IsSectionDefined("AddToHeadCss"))
    {
        @RenderSection("AddToHeadCss", required: false)
    }
    <link href="/home/css/responsitive_@(ViewBag.lang).css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="hide">
<div id="" class="vcard">
  <img style="float:left; margin-right:4px" src="http://acet.akadigital.vn/home/img/logo.png" alt="photo of " class="photo"/>
 <a class="url fn n" href="http://acet.akadigital.vn/">  <span class="given-name"></span>
  <span class="additional-name"></span>
  <span class="family-name"></span>
</a>
 <div class="org">Australian Centre for English Training</div>
 <a class="email" href="mailto:info-hcm@acet.edu.vn">info-hcm@acet.edu.vn</a>
 <div class="adr">
  <div class="street-address">226 Lê Văn Sỹ, Q. Tân Bình</div>
  <span class="locality">Ho Chi Minh</span>
, 
  <span class="region">Ho Chi Minh</span>
, 
  <span class="postal-code">70000</span>

  <span class="country-name">Viet nam</span>

 </div>
 <div class="tel">(+84) @ViewBag.HotlineHCM.Value</div>
<p style="font-size:smaller;">This <a href="http://microformats.org/wiki/hcard">hCard</a> created with the <a href="http://microformats.org/code/hcard/creator">hCard creator</a>.</p>
</div>
<div itemscope itemtype="http://schema.org/LocalBusiness">
   <span itemprop="name">Australian Centre for English Training</span>
   <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
     <span itemprop="streetAddress">226 Lê Văn Sỹ, Q. Tân Bình</span>
     <span itemprop="addressLocality">Ho Chi Minh</span>,
     <span itemprop="addressRegion">Ho Chi Minh</span>
     <span itemprop="postalCode">70000</span>
   </div>
   Phone: <span itemprop="telephone">(+84) @ViewBag.HotlineHCM.Value</span>
</div>
</div>
<dl class="dublincore hide">
	<dt>Título:</dt><dd class="title">  Australian Centre for English Training</dd>
	<dt>Dirección:</dt><dd><a href="http://demo.acet.edu.vn/" class="identifier">http://demo.acet.edu.vn/</a></dd>
	<dt>Descripción:</dt><dd class="description"> @ViewBag.metadesc</dd>
	<dt>Palabras clave:</dt><dd class="subject">trung tâm anh ngữ</dd>
</dl>
    <style >
        .nanogallery_colorschemeviewer_dark .nanoGalleryViewer .content img {
    border: 0px!important;
    box-shadow: none !important;
}
    </style>
<div class="loading_a hide"></div>
    <!-- Navigation -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/home/img/logo.png" alt="Australian Centre for English Training"></a>
                <h3 class="navbar-slogan" id="slogan1" style="color:red;text-align:center;padding-left:2%;display:none;">The leader in Academic English <br/>and IELTS preparation</h3>
 <h3 class="navbar-slogan" id="slogan2" style="color:red;text-align:center;padding-left:2%;display:none;">FIRST STEPS for secondary school students</h3>
	<h3 class="navbar-slogan" id="slogan3" style="color:red;text-align:center;padding-left:2%;display:none;">IELTS Preparation <br/>and IELTS Booking Services at ACET</h3>
 <div class="right-search ">

                    <p class="top-hotline">HCM: @ViewBag.HotlineHCM.Value - HN: @ViewBag.HotlineHN.Value</p>
                    <form class="navbar-form navbar-right " role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" id="home_search_value" style="  border-right: none;">
                            <span class="input-group-btn">
                                <input class="btn " type="button" id="btn_home_search" style="background: url('/home/img/seach-icon.png') no-repeat;  width: 68px;height:34px; border-color: gainsboro; border-left: none; " />
                            </span>
                        </div>
                    </form>

                    <a href="#" onclick="change_lang('vi')" style="padding-left:15px" class="show_vi"><img src="/home/img/icon_flag_vn.jpg"  alt="Vietnamese"/></a>
                    <a href="#" onclick="change_lang('en')" style="padding-left:5px" class="show_en"><img src="/home/img/icon_flag_en.jpg" alt="English"/></a>
                    <span class="hide" style="float:right;padding-right:15px;padding-bottom:10px;" >Register | Login</span>
                    <span class="hidden-xs hidden-sm">&nbsp;</span>
                </div>
            </div>


        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav " style="overflow: visible;">
                <li class="active">
                    <a href="/" class="dropdown-toggle"><i class="fa fa-home bigger-200 white"></i> </a>
                </li>
                 @foreach (var item in (List<ACET_WEB.Menu>)ViewBag.menu_top){
                 	if(item.Menus1.Count > 0){
                 	    <li class="slash hidden-xs hidden-sm">/</li>
                 	    <li class="">
							@if(item.Status.ToString().Length > 1) {
								<a href="@item.Status" class="dropdown-toggle" data-toggle="dropdown">@item.NameEng</a>
							}
							else {
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">@item.NameEng</a>
							}
		                    <ul class="dropdown-menu">
		                    @foreach(var childitem in item.Menus1.OrderBy(i => i.Order).ToList()){
		                   		<li><a href="@childitem.Status">@childitem.NameEng</a></li>
		                    }
		                    </ul>
		                </li>
                 	}else{
                 		<li class="slash hidden-xs hidden-sm">/</li>
	                 	<li class="">
		                    <a href="@item.Status" class="dropdown-toggle">@item.NameEng </a>

		                </li>
                 	}
                    
                }
            </ul>
            <!-- Mobile Search -->

        </div><!--/.nav-collapse -->
    </div> <!-- / .navigation -->
    <!-- Wrapper -->
    <div class="wrapper">

        @RenderBody()
    </div> <!-- / .wrapper -->
    <!-- Footer -->

    <footer>
        <div class="container">
            <div class="row">
                <!-- Contact Us -->
                @foreach (var item in (List<ACET_WEB.Menu>)ViewBag.menu_bottom){
	             	if(item.Menus1.Count > 0){
						<div class="col-sm-3  ">
							<h4>@item.NameEng</h4>
							<ul>
							@foreach(var childitem in item.Menus1.ToList()){
								<li><a href="@childitem.Status">@childitem.NameEng</a></li>
							 }
							</ul>
						</div>
	             	}else{
	             		<h4>@item.Name</h4>
	             	}
	             }
                <div class="col-sm-3">
                    <h4>CONNECT WITH ACET</h4>
                    <ul style="list-style-type: none;">
                        <li style="line-height:26px"><a href="http://www.facebook.com/acetvn"><i class="fa fa-facebook-square fa-2x" style="  width: 40px;"></i>Facebook</a></li>
                        @*<li style="line-height:26px"><i class="fa fa-twitter-square fa-2x" style="  width: 40px;"></i>Tweeter</li>*@
                        <li style="line-height:26px"><a href="http://www.youtube.com/acetvn"><i class="fa fa-youtube fa-2x" style="  width: 40px;"></i>Youtube</a></li>
                        @*<li style="line-height:26px"><i class="fa fa-vimeo-square fa-2x" style="  width: 40px;"></i>Vimeo</li>
                            <li style="line-height:26px"><i class="fa fa-flickr fa-2x" style="  width: 40px;"></i>Flickr</li>*@
                    </ul>
                </div>

                @foreach(var r in ViewBag.HomeAddress){
                	@Html.Raw(r.Value)
                }

            </div>
        </div>
    </footer>

    <!-- Copyright -->
    <div class="sxx" style="background:#d83a1d">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright" style="color:#fff">
                        Copyright 2015 ACET | All Rights Reserved
                    </div>
                </div>
            </div>  <!-- / .row -->
        </div> <!-- / .container -->
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/home/js/jquery.js"></script>
    <script type="text/javascript" src="/home/js/jquery-ui.js"></script>
    <script src="/home/js/moment.js"></script>
    <script src="/home/js/bootstrap.min.js"></script>
    <script src="/home/js/scrolltopcontrol.js"></script>
    <script src="/home/js/lightbox-2.6.min.js"></script>
    <script src="/home/js/jquery.knob.js"></script>
    <script src="/home/js/jquery.throttle.js"></script>
    <script src="/home/js/jquery.classycountdown.js"></script>
    <script src="/home/js/jquery.bxslider.js"></script>
    <script src="/home/js/fullcalendar.js"></script>
    <script src="/home/js/jquery.twbsPagination.js"></script>
    <script src="/home/js/custom.js"></script>
    <script src="/home/js/index_en.js"></script>
    <script src="//static.cjs.vn/js/form/source.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=466509100132722";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    @if (IsSectionDefined("AddToEndBodyJs"))
    {
        @RenderSection("AddToEndBodyJs", required: false)
    }
    @if (IsSectionDefined("cusJs"))
    {
        @RenderSection("cusJs", required: false)
    }
    <script>
    function fix_right() {
        var vheigh= 141 + $('#slider1_container').height();
        var vcheigh =  $('#slider1_container').height() + 50;
        if ($(document).scrollTop() > 1) {
            var fix_top = vcheigh - $(document).scrollTop();
            if (fix_top < 45) {
                fix_top = 45;
            }
            $('#dvRight2').attr("style", "display:block;top: " + fix_top + "px");
        } else {
            var fix_top = vheigh - $(document).scrollTop();
            $('#dvRight2').attr("style", "display:block;top: " + fix_top + "px");
        }
    }
        $(document).ready(function () {
            var hashstr = window.location.hash;
            if (hashstr != "#" && hashstr != "") {

                $(hashstr).parent().find(".in").removeClass("in");
                $(hashstr).parent().find(".active").removeClass("active");
                $(hashstr).addClass("in");
                $(hashstr).addClass("active");
                $('.left-col ul li a[href=' + hashstr + ']').parent().parent().find('li.active').removeClass('active');
                $('.left-col ul li a[href=' + hashstr + ']').parent().addClass("active");
                $('.nav.nav-tabs li a[href=' + hashstr + ']').parent().parent().find('li.active').removeClass('active');
                $('.nav.nav-tabs li a[href=' + hashstr + ']').parent().addClass("active");

            }

            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                $("#slogan1, #slogan2").hide();
            }
            else {
                $(".navbar-nav > li").hover(
                    function () {
                        $(this).addClass("open");
                    }, function () {

                        $(this).delay(5000).removeClass("open");
                    }
                );
              //  showSlogan();
            }


        });


        function showSlogan() {
            if ($("#slogan1").css('display') == 'block') {
                $("#slogan1").slideUp(500, function () {
                    $("#slogan2").slideDown(500, function () {
                        //setTimeout(showSlogan, '400');
                    });
                });

            }
            else if ($("#slogan2").css('display') == 'block') {
                $("#slogan2").slideUp(500, function () {
                    $("#slogan3").slideDown(500, function () {
                        //setTimeout(showSlogan, '400');
                    });
                });
            }
			else {
                $("#slogan3").slideUp(500, function () {
                    $("#slogan1").slideDown(500, function () {
                        //setTimeout(showSlogan, '400');
                    });
                });
            }
        }
        setInterval(showSlogan, 4000);
        $(document).on('click', '#btn_home_search', function () {
            window.location.href = "/search.html?q=" + $("#home_search_value").val().trim();
        });
        $("#home_search_value").keypress(function (e) {
            
            if (e.which == 13) {
                e.preventDefault();
                window.location.href = "/search.html?q=" + $("#home_search_value").val().trim();
                return false;

            }
        })
    </script>
    <div class="ads">
    
    </div>
    <style type="text/css">
   .ads iframe, .ads img {
        position: fixed;
    }
    </style>
<script type="text/javascript">
    // setTimeout(function(){
    //     hideLoading();
    // },1200);
$(document).on('click', "a[data-toggle=dropdown]", function(e){
    if($(window).width() > 1024){
        window.location.href =  $(this).attr("href");
    }
})
</script>
    <script type="text/javascript">
        function addParams( url, data )
  {
    if ( ! $.isEmptyObject(data) )
    {
      url += ( url.indexOf('?') >= 0 ? '&' : '?' ) + $.param(data);
    }

    return url;
  }
        function change_lang(lang) {
            path = window.location.pathname;
            @if(ViewBag.ct!=null){
            	<text>
            	window.location.href = addParams(path, {"hl":lang, "type":"@ViewBag.ct"});
            	</text>
            }else{
             if(Request.QueryString ["id"]!=""){
                 <text>window.location.href = path + "?hl=" + lang + "&id=@Request.QueryString["id"]" </text>
                }else{
                 <text>window.location.href = path + "?hl=" + lang</text>
                }
            }
			
        }
    </script>
	<script type="text/javascript">
	function setCookie(cname, cvalue, exdays) {
		var d = new Date();
		d.setTime(d.getTime() + (exdays*24*60*60*1000));
		var expires = "expires="+d.toGMTString();
		document.cookie = cname + "=" + cvalue + "; " + expires;
	}

	function getCookie(cname) {
		var name = cname + "=";
		var ca = document.cookie.split(';');
		for(var i=0; i<ca.length; i++) {
			var c = ca[i].trim();
			if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
		}
		return "";
	}
	function getURLParameter(name) {
		return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
	}
	$(document).ready(function () {
        var https=window.location.protocol=='https:'?true:false;
        var utm_source = getURLParameter('utm_source');
        if (utm_source && utm_source != "") { 
            	setCookie('utm_source', utm_source, 30);
        }
        var utm_medium = getURLParameter('utm_medium');
        if (utm_medium && utm_medium != '') {
            	setCookie('utm_medium', utm_medium, 30);  
        }
        var utm_content = getURLParameter('utm_content');
        if (utm_content && utm_content != '') {
            	setCookie('utm_content', utm_content, 30);
            
        }
        var utm_campaign = getURLParameter('utm_campaign');
        if (utm_campaign && utm_campaign != '') {
            	setCookie('utm_campaign', utm_campaign, 30); 
        }
        var last_referrer = getURLParameter('last_referrer');
        if (last_referrer && last_referrer != '') {
            	if (!getCookie('first_referrer')) {
            		setCookie('first_referrer', last_referrer, 30);
            	} else {
            		setCookie('last_referrer', last_referrer, 30);
            	}        
        }
       
		$("#id_utm_source").val(getCookie('utm_source'));
		$("#id_utm_medium").val(getCookie('utm_medium'));
		$("#id_utm_content").val(getCookie('utm_content'));
		$("#id_utm_campaign").val(getCookie('utm_campaign'));
		
		$("#id_first_referrer").val(getCookie('first_referrer'));
		$("#id_last_referrer").val(getCookie('last_referrer'));
		
		
		$("#input_region, #input_region_right").change(function () {
			var loc = $(this).val();
			if (loc == "Hà Nội") {
				$("#id_pipeline").val("47");
			} else {
				$("#id_pipeline").val("40");
			}
		});
		
    });
jQuery.extend(jQuery.validator.messages, {
 required: "Please input",
 remote: "Hãy sửa cho đúng.",
 email: "Email format is not correct",
 url: "Hãy nhập URL.",
 date: "Hãy nhập ngày.",
 dateISO: "Hãy nhập ngày (ISO).",
 number: "Hãy nhập số.",
 digits: "Hãy nhập chữ số.",
 creditcard: "Hãy nhập số thẻ tín dụng.",
 equalTo: "Hãy nhập thêm lần nữa.",
 accept: "Phần mở rộng không đúng.",
 maxlength: jQuery.validator.format("Please input lower {0} character."),
 minlength: jQuery.validator.format("Please input greater {0} character."),
 rangelength: jQuery.validator.format("Hãy nhập từ {0} đến {1} kí tự."),
 range: jQuery.validator.format("Hãy nhập từ {0} đến {1}."),
 max: jQuery.validator.format("Hãy nhập từ {0} trở xuống."),
 min: jQuery.validator.format("Hãy nhập từ {1} trở lên."),
 phoneStart0: "Phone need start with 0 (zero)",
});
 jQuery.validator.addMethod("phoneStart0", function(phone_number, element) {
		phone_number = phone_number.replace(/\s+/g, ""); 
		return this.optional(element) || phone_number.match(/^0\d{8,}$/);
	}, "Phone number should start with 0");
	
	$("#register_form_bottom").validate({
   		
      rules: {
        // simple rule, converted to {required:true}
        input_name: "required",
        // compound rule
        input_email: {
          required: true,
          email: true
        },
        input_phone:{
        	required: true,
        	minlength:10,
        	maxlength:11,
        	phoneStart0:true,

        },
         input_region:{
        	required: true,

        },
         input_courses:{
        	required: true,

        },
         input_time:{
        	required: true,

        }
      }
    });
	
	$("#register_form_right").validate({
   		
      rules: {
        // simple rule, converted to {required:true}
        input_name_right: "required",
        // compound rule
        input_email_right: {
          required: true,
          email: true
        },
        input_phone_right:{
        	required: true,
        	minlength:10,
        	maxlength:11,
        	phoneStart0:true,

        },
         input_region_right:{
        	required: true,

        },
         input_courses_right:{
        	required: true,

        },
         input_time_right:{
        	required: true,

        }
      }
    });
	$('.btn-register-bottom').on('click', function(e){
        e.preventDefault();
        if(!$('#register_form_bottom').valid()){
            return false;
        }
		$.ajax({
           url: 'http://www.cjs.vn/subscribe/96a4999dd571c9080d16dd6895beb564/',
           type: 'post',
           success: function (rs) {
              window.location.replace("/page/cam-on.html");
           },
		   error:function (err) {
              alert("Error: " + err);
			  return false;
           },
           data: {'person.name':$('#input_name').val(), 'person.email':$('#input_email').val(), 'person.phone':$('#input_phone').val(), 'person.97f6bd44ac15a3cae2f1735837e3f574':$('#input_region').val(), 'person.ba4a950c11196a5b6cef65c13395aa20':$('#input_courses').val(), 'person.0169e2d4dad9a74326f41d3812e5a517':$('#input_time').val(),
				'utm_source':$('#id_utm_source').val(),
				'utm_medium':$('#id_utm_medium').val(),
				'utm_content':$('#id_utm_content').val(),
				'utm_campaign':$('#id_utm_campaign').val(),
				'first_referrer':$('#id_first_referrer').val(),
				'last_referrer':$('#id_last_referrer').val(),
				'id_pipeline':$('#id_pipeline').val()}
		}); 
        
	 });
	 
	 $('.btn-register-right').on('click', function(e){
        e.preventDefault();
        if(!$('#register_form_right').valid()){
            return false;
        }
		$.ajax({
           url: 'http://www.cjs.vn/subscribe/96a4999dd571c9080d16dd6895beb564/',
           type: 'post',
           success: function (rs) {
              //window.location.replace("/page/cam-on.html");
           },
		   error:function (err) {
              alert("Error: " + err);
			  return false;
           },
           data: {'person.name':$('#input_name_right').val(), 'person.email':$('#input_email_right').val(), 'person.phone':$('#input_phone_right').val(), 'person.97f6bd44ac15a3cae2f1735837e3f574':$('#input_region_right').val(), 'person.ba4a950c11196a5b6cef65c13395aa20':$('#input_courses_right').val(), 'person.0169e2d4dad9a74326f41d3812e5a517':$('#input_time_right').val(),
				'utm_source':$('#id_utm_source').val(),
				'utm_medium':$('#id_utm_medium').val(),
				'utm_content':$('#id_utm_content').val(),
				'utm_campaign':$('#id_utm_campaign').val(),
				'first_referrer':$('#id_first_referrer').val(),
				'last_referrer':$('#id_last_referrer').val(),
				'id_pipeline':$('#id_pipeline').val()}
		}); 
        
	 });
</script>
  @foreach(var itm in ViewBag.BodyTag){
        @Html.Raw(itm.Value)
   }
</body>
</html>
