﻿<ul class="">
    <li><a href="/gioi-thieu-trung-tam-anh-ngu-acet.html" data-toggle="tab">Giới thiệu</a> <i class="fa fa-angle-right is_r"></i></li>
    <li><a href="/doi-ngu-giao-vien.html" data-toggle="tab">Đội ngũ giáo viên</a><i class="fa fa-angle-right is_r"></i></li>
    <li><a href="/tieu-chuan-chat-luong.html" data-toggle="tab">Tiêu chuẩn chất lượng</a><i class="fa fa-angle-right is_r"></i></li>
    <li><a href="/chung-nhan-giai-thuong.htmln" data-toggle="tab">Chứng nhận & Giải thưởng</a><i class="fa fa-angle-right is_r"></i></li>
    <li><a href="/hinh-anh-va-video.html" data-toggle="tab">Hình ảnh & Video</a><i class="fa fa-angle-right is_r"></i></li>
    <li><a href="/chuong-trinh-hop-tac.html" data-toggle="tab">Chương trình hợp tác</a><i class="fa fa-angle-right is_r"></i></li>
    <li><a href="/insearch.html" data-toggle="tab">Insearch</a><i class="fa fa-angle-right is_r"></i></li>
    <li style="border-bottom:none;"><a href="/idp.html" data-toggle="tab">IDP</a><i class="fa fa-angle-right is_r"></i></li>
</ul>