﻿<div class="col-sm-4">
	<a href="/tai-tai-lieu-luyen-thi-ielts-mien-phi.html"><img src="/home/img/tailieu.jpg" title="Tài liệu học tập" width='100%' style="height:261px;"/></a>
    @*<div class="couse_title center" style="font-size:18px;margin-right:0px;">TÀI LIỆU HỌC TẬP</div>
    <div style="padding: 10px 12px 0px 12px; margin: -12px 0px 0px 0px; border: 1px solid; min-height: 230px;">
        <p><a href="/Uploads/LearningResource/IELTS-Academic-Module-How-to-Maximize-Your-Score.pdf">IELTS - How to Maximize Your Score</a></p>
        <ul class="hide">
            <li><a href="">Nâng cao kỹ năng nghe</a></li>
            <li><a href="">Nâng cao kỹ năng nói</a></li>
            <li><a href="">Nâng cao kỹ năng đọc</a></li>
            <li><a href="">Nâng cao kỹ năng viết</a></li>
        </ul>
        <p><a href="/Uploads/LearningResource/English-grammar-in-use.pdf">Academic Vocabulary List</a></p>
        <p><a href="/Uploads/LearningResource/IELTS-Academic-Module-How-to-Maximize-Your-Score.pdf">English grammar in use</a></p>
        <p><a href="/Uploads/LearningResource/504-Absolutely-Essential-Words.pdf">504 Absolutely Essential Words</a></p>
        <p><a href="/Uploads/LearningResource/Cambridge-Vocabulary-For-IELTS.pdf">Cambridge Vocabulary For IELTS</a></p>
        <p><a href="/Uploads/LearningResource/Check-your-vocabulary-for-English for-the-IELTS.pdf">Check your vocabulary for English for the IELTS</a></p>
    </div>*@
</div>