﻿<div id="dvRight2">
    <img src="/home/img/callnow.jpg" width="100%">
    <p></p>
    <div class="col-xs-12 no-padding">
        <h3 class="title_box">ĐĂNG KÝ ĐỂ ĐƯỢC TƯ VẤN</h3>
        <iframe frameborder="0" width="100%" height="200" src="http://www.cjs.vn/subscribe/96a4999dd571c9080d16dd6895beb564/" id="cjsform" scrolling="no" seamless="seamless"></iframe>
        <script src="http://static.cjs.vn/js/form/source.js"></script>
        @*<form>
            <div class="col-sm-12 padding-10">  <input class="form-control" placeholder="Full name" /> </div>
            <div class="col-sm-12 padding-10"><input class="form-control" placeholder="Email" /></div>
            <div class="col-sm-12 padding-10"><input class="form-control" placeholder="Phone" /></div>
            <div class="col-sm-4 padding-10">
                <p>Khu Vuc:</p>
            </div>
            <div class="col-sm-8 padding-10">
                <div class="col-sm-12 no-padding">
                    <input type="radio" class="form-radio" name="area" /><span class="title_form">Ha Noi</span>
                </div> <div class="col-sm-12 no-padding">
                    <input type="radio" class="form-radio" name="area" /><span class="title_form">Ho Chi Minh</span>
                </div>
            </div>
            <button class="btn btn-red pull-right">Send</button>
            <div class="clearfix"></div>
        </form>*@
    </div>
    <p class="clearfix"></p>
    <a href="/thoi-khoa-bieu.html"><img src="/home/img/timetable.jpg" width="100%"></a>
   

</div>