﻿@{
    ViewBag.Title = Model.Title + " - ACET";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@section AddToHeadCss{
    <link rel="stylesheet prefetch" href="/home/css/nanogallery.css">
    <link href="/home/css/ekko-lightbox.css" rel="stylesheet">
    <style type="text/css">
    .left-col ul li a{
        width: 96%;
    }
    .tab-content {
    margin-top: -20px;
}
        span.title-o {
            color: #66C3DE;
        }

        p.in-1 {
            padding: 0px 0px 12px 12px;
        }

        thead td {
            background: #b8b8b8;
        }

        #item-1 {
            background-image: url(/home/img/tintuc_banner.jpg);
            background-position: top center;
        }

        .carousel-indicators, .carousel-arrow {
            display: none;
        }

        .tintuc_nav {
            margin-top: 20px;
        }

            .tintuc_nav > li > a {
                background: #f23314;
                color: #fff;
                margin-right: 0px;
                background: url('/home/img/nav-right-news.png') no-repeat top right;
                border-radius: 0px;
                width: 160px;
                margin-left: -38px;
            }

            .tintuc_nav > li.active > a, .tintuc_nav > li.active > a:hover, .tintuc_nav > li.active > a:focus {
                background: #fff;
                color: #f23314;
                border: 0px;
                margin-right: 0px;
                background: url('/home/img/nav-right-news-hover.png') no-repeat top right;
                border-radius: 0px;
                border-bottom: 1px solid #f23314;
            }

        .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
            color: #FFCB00;
            background: #f23314;
            margin-right: 0px;
            background: url('/home/img/nav-right-news.png') no-repeat top right;
            border-radius: 0px;
            width: 160px;
            margin-left: -38px;
            border: 0px;
            border-bottom: 1px solid #f23314;
        }

        .nav-tabs {
            border-bottom: 1px solid #f23314;
        }

            .nav-tabs > li {
            }

        .news-img {
            width: 100%;
            height: 200px;
            border-radius: 4px;
        }

        .news-img-item {
            width: 30%;
            height: 120px;
            float: left;
            border-radius: 4px;
            margin: 6px;
            margin-left: 0px;
        }

        h3.title {
            color: #f23314;
            font-weight: 400;
        }

        h4.title {
            color: #f23314;
            font-weight: 400;
        }

        .item-info {
            float: left;
            width: 66%;
            margin-top: 6px;
        }

        .item-content-news {
            margin-left: 0px;
            position: relative;
            overflow: hidden;
            width: 66%;
            height: 40px;
            text-overflow: ellipsis;
            word-spacing: normal;
            word-wrap: break-word;
            white-space: normal;
        }

        .date_info.item-info {
            margin-top: -6px;
        }

        .box-news-right {
            background: #f2f4f3;
            padding-left: 0px;
            margin-bottom: 10px;
        }

            .box-news-right ul li {
                list-style-image: url('/home/img/list_style.png');
                line-height: 22px;
                padding-bottom: 2px;
                padding-right: 6px;
                font-size: 16px;
            }

            .box-news-right h4.title {
                padding-left: 22px;
            }

        .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
            background: #f23315;
            color: #fff;
            border-color: #c81f05;
        }

        .pagination > li > a, .pagination > li > span {
            color: #f23315;
        }

            .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
                color: #f23315;
            }

        h3.title_box {
            font-size: 22px;
        }

        input.form-radio {
            height: 14px;
            width: 16px;
            line-height: 14px;
        }

        .title_form {
            font-size: 16px;
            padding-left: 4px;
        }

        .left-col ul {
            list-style: none;
            padding: 0px 6px;
            border: 1px solid #DBDBDB;
            margin-left: 6px;
            margin-right: 6px;
        }

            .left-col ul li {
                border-bottom: 1px dotted #D0D0D0;
                font-size: 14px;
                line-height: 20px;
                padding-top: 4px;
                padding-bottom: 4px;
            }

                .left-col ul li.active {
                    background-color: #f23314;
                    color: #fff;
                    margin-left: -6px;
                    margin-right: -6px;
                }

                    .left-col ul li.active a {
                        color: #fff;
                        padding-left: 6px;
                    }

                .left-col ul li .is_r {
                    display: none;
                }

                .left-col ul li.active .is_r {
                    display: inline-block;
                    float: right;
                    color: #fff;
                    margin-top: 0px;
                    margin-right: 0px;
                    font-size: 20px;
                }

        .year_title .fa-angle-left {
            color: #f23314;
            font-size: 60px;
            float: left;
            display: inline-block;
        }

        .year_title .fa-angle-right {
            color: #f23314;
            font-size: 60px;
            float: right;
            display: inline-block;
            margin-top: -60px;
        }

        .year_title span {
            color: #747474;
            font-size: 42px;
            display: block;
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
    </style>

}
<div class="home-slider">
    <!-- Carousel -->
    <div id="home-slider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#home-slider" data-slide-to="0" class="active"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <!-- Slide #1 -->
            <div class="item active" id="item-1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 hide">
                            <h3 class="animated slideInDown delay-3">ACET DISCOUNT 15% FOR NEW FIRST STEPS CLASS</h3>

                            <a href="#" class="btn btn-lg btn-red animated fadeInUpBig delay-5">Register Now</a>
                        </div>
                        <div class="col-sm-6 hidden-xs hide">
                            <img class="img-responsive" src="/home/img/tintuc_banner.jpg" alt="...">
                        </div>
                    </div> <!-- / .row -->
                </div> <!-- / .container -->
            </div> <!-- / .item -->
            <!-- Slide #2 -->

        </div> <!-- / .carousel -->
        <!-- Controls -->
        <a class="carousel-arrow carousel-arrow-prev" href="#home-slider" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-arrow carousel-arrow-next" href="#home-slider" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div> <!-- / .home-slider -->

<div class="container">
    <ul class="breakcrumb">
        <li>TRANG CHỦ</li>
        <li>> HỌC BỔNG</li>
    </ul>
</div>
<div class="container show_1024">
    <div class="row">
        @Html.Partial("~/Views/Shared/CenterBar.cshtml")
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">


            <div class="row">
                <div class="left-col">
                    <ul class="">
                        <li><a href="/hoc-bong.html">ACET</a> <i class="fa fa-angle-right is_r"></i></li>
                        <li class='active'><a href="/hoc-bong-idp.html">IDP</a><i class="fa fa-angle-right is_r"></i></li>   
                     </ul>
                </div>
                <div class="right-col">
                    <div class="tab-content">

                        <!-- Tin uu dai-->
                        <div class="tab-pane fade in active" id="giang-vien">
                            <h2 class="title">@Model.Title</h2>
                            <div class="content-wrapper">
                                @Html.Raw(Model.Content)
                            </div>
                            <div class="clearfix">
                            </div>
                            <h3 class="title hide">Các học bổng khác</h3>
                            <div class="other-hb hide">

                            </div>
                        </div>


                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
    <!-- Recent Blog Posts -->
    @Html.Partial("~/Views/Shared/BottomPage1.cshtml")
</div> <!-- / .wrapper -->
<div id="temp-1" class="hide">
    <div class="col-xs-12 ">
        <a class="a-temp">
            <p><span class="title-o"></span><br /><span class="date"></span> - <span class="where"></span></p>

        </a>
    </div>

</div>
@Html.Partial("~/Views/Shared/RightPage.cshtml")
@section AddToEndBodyJs{
    <script src="http://masonry.desandro.com/masonry.pkgd.js"></script>
    <script src="http://masonry.desandro.com/components/classie/classie.js"></script>
    <script src="/home/js/ekko-lightbox.js"></script>
    <script type="text/javascript" src="/home/js/jquery.nanogallery.js"></script>
    <script type="text/javascript">
    $(window).on("scroll touchmove", function () {

        if ($(document).scrollTop() >= 1254) {
            var fix_top = 1254 - $(document).scrollTop() + 55;
            $('#dvRight2').attr("style", "display:block;top: " + fix_top + "px");

        } else {
            if ($(document).scrollTop() > 1) {
                var fix_top = 285 - $(document).scrollTop() + 55;
                if (fix_top < 45) {
                    fix_top = 45;
                }
                $('#dvRight2').attr("style", "display:block;top: " + fix_top + "px");
            } else {
                $('#dvRight2').attr("style", "display:none");
            }
        }
    });

    // external js: masonry.pkgd.js
    var search_value = "";
    //load_news(8, 0, ".other-hb", "");
    function load_news(type, current_page, element, search_value) {
        var limit = 8;
        var offset = limit * current_page;
        var data_get = { cus_type: type, limit: limit, offset: offset, search_value: search_value };
        $.get('/api/articles/', data_get).done(function (rs) {
            var htmlstr = '';
            if (rs.data.length > 0) {
                $('#pagination-news' + type).empty();
                $('#pagination-news' + type).removeData("twbs-pagination");
                $('#pagination-news' + type).unbind("page");
                $(element).html('');
                var strhtml = "";
                $.each(rs.data, function (i, j) {
                    j[1] = j[1].replace(/–/g, '-');
                    var t_arr = j[1].split('-');
                    if (!t_arr[2]) {
                        t_arr[2] = '&nbsp;';
                    }
                    if (!t_arr[1]) {
                        t_arr[1] = '&nbsp;';
                    }

                    var eobj = $("#temp-1").clone();
                    eobj.find("a.a-temp").attr("href", "/hoc-bong-idp/" + j[5] + '_' + j[0] + '.html');
                    eobj.find('span.title-o').text(t_arr[0]);
                    eobj.find('span.date').html(j[4]);
                    eobj.find('span.where').html('Tại '+j[6]);
                    strhtml += eobj.html();
                });
                strhtml += '<div class="clearfix col-xs-12"><ul id="pagination-news-' + type + '" class="pagination"></ul></div>'

                $(element).html(strhtml);
                $('#pagination-news-' + type).twbsPagination({
                    totalPages: Math.ceil(rs.recordsTotal / limit),
                    visiblePages: 7,
                    startPage: current_page + 1,
                    onPageClick: function (event, page) {
                        load_news(type, page - 1, element);
                    }
                });
            } else {
                $(element).html("<p class='center'>Không tìm thấy kết quả.</p>");
                $('#pagination-news' + type).empty();
                $('#pagination-news' + type).removeData("twbs-pagination");
                $('#pagination-news' + type).unbind("page");
                $('#pagination-news-' + type).twbsPagination({
                    totalPages: 1,
                    visiblePages: 7,
                    startPage: 1,
                    onPageClick: function (event, page) {
                        //load_news(type, page - 1, element);
                    }
                });
            }
        });
    }

    $(document).ready(function ($) {
        // delegate calls to data-toggle="lightbox"
        $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function (event) {
            event.preventDefault();
            return $(this).ekkoLightbox({
                onShown: function () {
                    if (window.console) {
                        return console.log('Checking our the events huh?');
                    }
                },
                onNavigate: function (direction, itemIndex) {
                    if (window.console) {
                        return console.log('Navigating ' + direction + '. Current item: ' + itemIndex);
                    }
                }
            });
        });

        //Programatically call
        $('#open-image').click(function (e) {
            e.preventDefault();
            $(this).ekkoLightbox();
        });
        $('#open-youtube').click(function (e) {
            e.preventDefault();
            $(this).ekkoLightbox();
        });

        // navigateTo
        $(document).delegate('*[data-gallery="navigateTo"]', 'click', function (event) {
            event.preventDefault();
            return $(this).ekkoLightbox({
                onShown: function () {


                    var a = this.modal_content.find('.modal-footer a');
                    if (a.length > 0) {

                        a.click(function (e) {

                            e.preventDefault();
                            this.navigateTo(2);

                        }.bind(this));

                    }

                }
            });
        });
    });
    </script>
}