﻿@{
    ViewBag.Title = "Search Result";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section AddToHeadCss{
    <style type="text/css">
        #item-1 {
            background-image: url(/home/img/tintuc_banner.jpg);
            background-position: top center;
        }

        .carousel-indicators, .carousel-arrow {
            display: none;
        }

        .tintuc_nav {
            margin-top: 20px;
        }

            .tintuc_nav > li > a {
                background: #f23314;
                color: #fff;
                margin-right: 0px;
                background: url('/home/img/nav-right-news.png') no-repeat top right;
                border-radius: 0px;
                width: 160px;
                margin-left: -28px;
            }

            .tintuc_nav > li.active > a, .tintuc_nav > li.active > a:hover, .tintuc_nav > li.active > a:focus {
                background: #fff;
                color: #f23314;
                border: 0px;
                margin-right: 0px;
                background: url('/home/img/nav-right-news-hover.png') no-repeat top right;
                border-radius: 0px;
                border-bottom: 1px solid #f23314;
            }

        .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
            color: #FFCB00;
            background: #f23314;
            margin-right: 0px;
            background: url('/home/img/nav-right-news.png') no-repeat top right;
            border-radius: 0px;
            width: 160px;
            margin-left: -28px;
            border: 0px;
            border-bottom: 1px solid #f23314;
        }

        .nav-tabs {
            border-bottom: 1px solid #f23314;
        }

            .nav-tabs > li {
            }

        .news-img {
            width: 100%;
            height: 200px;
            border-radius: 4px;
        }

        .news-img-item {
            width: 30%;
            height: 120px;
            float: left;
            border-radius: 4px;
            margin: 6px;
            margin-left: 0px;
        }

        h3.title {
            color: #f23314;
            font-weight: 400;
        }

        h4.title {
            color: #f23314;
            font-weight: 400;
        }

        .item-info {
            float: left;
            width: 66%;
            margin-top: 6px;
        }

        .item-content-news {
            margin-left: 0px;
            position: relative;
            overflow: hidden;
            width: 100%;
            height: auto;
            text-overflow: ellipsis;
            word-spacing: normal;
            word-wrap: break-word;
            white-space: normal;
        }

        .date_info.item-info {
            margin-top: -6px;
        }

        .box-news-right {
            background: #f2f4f3;
            padding-left: 0px;
            margin-bottom: 10px;
        }

            .box-news-right ul li {
                list-style-image: url('/home/img/list_style.png');
                line-height: 22px;
                padding-bottom: 2px;
                padding-right: 6px;
                font-size: 14px;
            }

            .box-news-right h4.title {
                padding-left: 22px;
            }

        .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
            background: #f23315;
            color: #fff;
            border-color: #c81f05;
        }

        .pagination > li > a, .pagination > li > span {
            color: #f23315;
        }

            .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
                color: #f23315;
            }

        h3.title_box {
            font-size: 22px;
        }

        input.form-radio {
            height: 14px;
            width: 16px;
            line-height: 14px;
        }

        .title_form {
            font-size: 16px;
            padding-left: 4px;
        }
    </style>
}
@section AddToEndBodyJs{
    <script type="text/javascript">
        
        $(document).ready(function () {
            fix_right()
        });setTimeout(function(){fix_right();},2000); $( window ).resize(function() {
           fix_right();
        });
        $(window).on("scroll touchmove", function () {

            fix_right()

        });

        function load_news(type, current_page, element, search_value) {
            var limit = 8;
            var offset = limit * current_page;
            var data_get = { cus_type: type, limit: limit, offset: offset, search_value: search_value };
            $.get('/api/articles/', data_get).done(function (rs) {
                var htmlstr = '<div class="col-sm-8">';
                if (rs.data.length > 0) {
                    $('#pagination-news' + type).empty();
                    $('#pagination-news' + type).removeData("twbs-pagination");
                    $('#pagination-news' + type).unbind("page");
                    $(element).html('');
                    $.each(rs.data, function (i, j) {

                        htmlstr += '<a href="/' + j[5] + '_' + j[0] + '.html"><div class="col-xs-12 no-padding item-news-child" style="border-bottom: 1px dotted black;"> ';
                        htmlstr += '  <div class="news-img-item" style="background:url(' + j[3] + ') no-repeat top left;background-size: 150px 100px;"></div>';
                        htmlstr += '  <h4 class="title item-info">' + j[1] + '</h4>';
                        htmlstr += '        <p class="date_info item-info"><span class="date">(' + moment(j[4],'MM/DD/YYYY H:I:S Z').format("DD/MM/YYYY") + ')</span> - <span> Tại ACET Việt Nam</span></p>';
                        htmlstr += '      <div class="new2 ellipsis"><div><p class="item-content-news">' + j[2] + ' </p></div></div></div></a>';
                        if (i == (rs.data.length - 1)) {
                            htmlstr += '<ul id="pagination-news-' + type + '" class="pagination"></ul></div>';
                        }

                    });
                    htmlstr += $('#hh').html();
                    $(element).html(htmlstr);
                    $('#pagination-news-' + type).twbsPagination({
                        totalPages: Math.ceil(rs.recordsTotal / limit),
                        visiblePages: 7,
                        startPage: current_page + 1,
                        onPageClick: function (event, page) {
                            load_news(type, page - 1, element);
                        }
                    });
                } else {
                    $(element).html("<p style='text-align:center'>Không tìm thấy kết quả.</p>");
                    $('#pagination-news' + type).empty();
                    $('#pagination-news' + type).removeData("twbs-pagination");
                    $('#pagination-news' + type).unbind("page");
                    $('#pagination-news-' + type).twbsPagination({
                        totalPages: 1,
                        visiblePages: 7,
                        startPage: 1,
                        onPageClick: function (event, page) {
                            //load_news(type, page - 1, element);
                        }
                    });
                }
            });
        }
        $(document).ready(function () {
            load_news(10, 0, "#tin-uu-dai", "@ViewData["search_value"].ToString()");

        });

    </script>
}

<!-- Home Slider -->
<div class="home-slider">
    <!-- Carousel -->
    <div id="home-slider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#home-slider" data-slide-to="0" class="active"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <!-- Slide #1 -->
            <div class="item active" id="item-1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 hide">
                            <h3 class="animated slideInDown delay-3">ACET DISCOUNT 15% FOR NEW FIRST STEPS CLASS</h3>

                            <a href="#" class="btn btn-lg btn-red animated fadeInUpBig delay-5">Register Now</a>
                        </div>
                        <div class="col-sm-6 hidden-xs hide">
                            <img class="img-responsive" src="/home/img/tintuc_banner.jpg" alt="...">
                        </div>
                    </div> <!-- / .row -->
                </div> <!-- / .container -->
            </div> <!-- / .item -->
            <!-- Slide #2 -->

        </div> <!-- / .carousel -->
        <!-- Controls -->
        <a class="carousel-arrow carousel-arrow-prev" href="#home-slider" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-arrow carousel-arrow-next" href="#home-slider" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div> <!-- / .home-slider -->
<!-- Services -->
<div class="container">
    <ul class="breakcrumb">
        <li><a href="/">TRANG CHỦ</a></li>
        <li>> <a href="/newshot">KẾT QUẢ TÌM KIẾM</a></li>
    </ul>
</div>
<div class="container show_1024">
    <div class="row">
        @Html.Partial("~/Views/Shared/CenterBar.cshtml")
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <!-- Navs -->
            
            <div class="row">
                <div class="tab-content">
                    <!-- Tin uu dai-->
                    <div class="tab-pane fade in active" id="tin-uu-dai">

                    </div>
                   
                </div>
            </div>

        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->
<div id="hh" class="hide">
    <div class="col-sm-4">
        <div class="col-xs-12 no-padding box-news-right">
            <h4 class="title">TIN MỚI NHẤT</h4>
            <ul id="tin-moi">
                @foreach (var item in (List<ACET_WEB.Post>)ViewData["post_lasted"])
                {
                    <li><a href="/Home/News/@item.Id">@item.Title</a> </li>
                }
            </ul>
        </div>
        <div class="col-xs-12 no-padding box-news-right">
            <h4 class="title">TIN HOT NHẤT</h4>
            <ul id="tin-moi">
                @foreach (var item in (List<ACET_WEB.Post>)ViewData["post_hotest"])
                {
                    <li><a href="/Home/News/@item.Id">@item.Title</a> </li>
                }
            </ul>
        </div>
        <div class="col-xs-12 no-padding">
            <img src="/home/img/ads_news_right.jpg" width="100%">
        </div>
    </div>
</div>
<!-- Recent Blog Posts -->
@Html.Partial("~/Views/Shared/BottomPage1.cshtml")
@Html.Partial("~/Views/Shared/RightPage.cshtml")