﻿.navbar-slogan{
    font-weight: 700;
}
.nanoGalleryContainerParent img.image.nGEvent {
    width: 100%;
        max-width: 220px!important;
    max-height: 220px!important;
}
.labelImage.nGEvent {
    width: 220px!important;
    margin-left: 0!important;
    margin-right: 0!important;
}
.nanoGalleryThumbnailContainer.nGEvent{
    border: none!important;
}
.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer, .nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer .subcontainer, .nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer .imgContainer{
/*    background: transparent;*/
}
.nanogallery_colorschemeviewer_dark .nanoGalleryViewer .content img {
    border: 0px!important;
    box-shadow: none !important;
}
.backtotop{
background: #848383;
}
.container.center.doitac {
        margin-top: 40px;
    margin-bottom: -20px;
}
.doitac img {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 24%;
}
.navbar-brand > img {
    height: 75px;
    width: auto;
    margin-top: -11px;
}
.nanogallery_theme_default #nanoGalleryViewer .toolbar .label .title{
    white-space:normal;
}
.grayscale2 {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}
.grayscale{
-webkit-filter: blur(0.8px);
    -moz-filter: blur(0.8px);
    -o-filter: blur(0.8px);
    -ms-filter: blur(0.8px);
    filter: blur(0.8px);
}
.tintuc_nav > li > a.tphcm {
    margin-left: -12px;
    padding-right: 20px;
}
.center {
    text-align: center;
}
.promotionSlider p.title, .eventsSlider p.title{
    min-height: auto;
}
.box-news-right{
        text-align: justify;
    padding-right: 15px;
}
.hop-tac-iframe {
    min-height: 450px !important;
    width: 100%;
}

.red3 {
    color: #f23314;
}

.fc-header-left, .fc-header-right {
    width: 10%;
}

.mrtop10 {
    margin-top: 10px;
}
.new1{
    margin-bottom: 20px;
}
.new1.ellipsis {
      overflow: hidden;
    height: 138px;
    text-align:justify;
}
.new1.ellipsis:before {
        content: "";
        float: left;
        width: 5px;
        height: 158px;
    }
.new1.ellipsis:after {
top:-43px;
}
.new2.ellipsis {
        overflow: hidden;
    height: 40px;
    text-align: justify;
    float: left;
    width: 66%;
}
.new2.ellipsis:before {
        content: "";
        float: left;
        width: 5px;
        height: 60px;
    }
.new2.ellipsis:after {
top:-40px;
}
.content-tt.ellipsis {
      overflow: hidden;
    height: 115px;
    text-align:justify;
}
.content-tt.ellipsis:before {
        content: "";
        float: left;
        width: 5px;
        height: 135px;
    }
.content-tt.ellipsis:after {
    top:-40px;
}
.promotionSlider .ellipsis {
    overflow: hidden;
    height: 110px;
    text-align:justify;
}
.promotionSlider .ellipsis:before {
        content: "";
        float: left;
        width: 5px;
        height: 135px;
    }
.eventsSlider .ellipsis {
    overflow: hidden;
    //height: 130px;
    height: 110px;
    text-align:justify;
}

.eventsSlider .ellipsis:before {
        content: "";
        float: left;
        width: 5px;
        //height: 155px;
        height: 135px;
    }
.eventsSlider  .ellipsis:after , .promotionSlider .ellipsis:after{
    top: -45px;
}
.ellipsis > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}

.ellipsis:after {
    content: "\02026";
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    float: right;
    position: relative;
    top: -25px;
    left: 100%;
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;
    text-align: right;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}
.news img{
    max-width: 100%;
    height:auto!important; 
}
.assdd{
    min-height:300px!important
}
.justify{
    text-align: justify;
}
.couse_content, .couse_title {
    margin-right: 0px;
}
 .img_download1{
        height:264px;
}
.iframe1{
        min-height: 233px;
         max-height: 233px;
}
.tkb_dt{
    margin-right:16px;padding-right:16px
}
@media (min-width: 1281px){
    .container{
        padding-right: 35px;
    }
    .right-col{
        padding-left: 0;
    }
    .row.bottom-page {
        margin-right: -6px;
    }
}
@media (min-width: 1200px){
    .left-col ul li{
            margin-right: -6px;
    padding-left: 6px;
        margin-left: -6px;
    }
    .left-col ul li.active a, .left-col ul li:active a, .left-col ul li:hover a, .left-col ul li:focus a{
        padding-left: 0!important;
    }
}
@media (min-width: 1200px) and (max-width:1280px) {
     .left-col ul li.active a, .left-col ul li:active a, .left-col ul li:hover a, .left-col ul li:focus a{
        padding-left: 0!important;
        font-size: 13px;
    }
    .left-col ul li a{
        font-size: 13px;
    }
    .container{
        padding-right: 25px;
    }
    .img_download1{
        height:261px;
    }
    #testonline_banner{
		height:115px;
	}
	#duhoc_banner{
		height:133px;
	}
    .iframe1{
            min-height: 216px;
             max-height: 216px;
    }
    .couse_content, .couse_title {
        margin-right: 15px;
    }
.tc-grid {
    width: 660px;
    margin-left: -10px;
}
    .right-col{
        padding-left: 0;
    }
    .navbar-nav{
      width: 930px;
    }
    .top-hotline{
      font-size: 13px;
    }
    .navbar-default .navbar-nav > li > a {
      font-size: 13px;
    }
}
@media (min-width: 992px){
    .item-post.odd .col-sm-8.col-md-8.ellipsis,.item-post.odd .col-sm-7.col-md-7.ellipsis,.no-home-pading-right {
    padding-right: 0;
}
.item-post.odd {
    padding-left: 6px;
}
.pull-right {
    margin-right: 0px;
}
}
@media (max-width: 991px){
    .navbar-brand > img {
        height: 30px;
    }
    .right-search .top-hotline{
        display: none;
    }
    .right-search .navbar-form.navbar-right {
        display: block;
        width: 100%;
        border: 0;
        margin: 0;
        padding: 0;
        margin: 0 auto;
        background: #fff;
    }
    .right-search{
            display: block;
        width: 45%;
        border: 0;
        padding-top: 15px;
        padding-right: 10px;
    }
    .right-search form .input-group{
            width: 100%;
        margin: 0 auto;
    }
    .right-search form .input-group-btn{
        display: none;
    }
    .right-search form .input-group .form-control:first-child{
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
            border-right: 1px solid #e4e4e4!important;

    }
    #topcontrol {
        bottom: 55px!important;
    }
}
@media(width: 1024px){
    .img_bt_2{
        margin-top: 3px!important;
    }
}
@media(width: 768px){
    .home_dk{
        font-size: 16px!important;
        padding-left: 5px!important;
        padding-top: 5px!important;
        padding-right: 0;
    }
    .img_download1 {
        height: 228px;
    }
    .img_bt_2{
        //margin-top: 23px!important;
    }
    .iframe1 {
    min-height: 206px;
        max-height: 206px;
        padding-top: 0!important;
        height: 206px;
        margin-top: -20px!important;
    }
}
@media (max-width:767px) {
    .navbar-nav > li > a{
        line-height: 15px;
    }
.zopim{ bottom:5px!important}
    .tkb_dt{
            margin-right: 12px;padding-right:0px
    }
    .couse_content.tkb_dt2{
        margin-right: 12px;
    }
    .yt_frame{
        margin-top:20px;
    }
    .container.doitac img {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 24%;
}
    .no-margin-mobile{
        margin: 0!important;
    }
    .new1.ellipsis {
    overflow: hidden;
    height: 150px;
    text-align: justify;
}
.new1.ellipsis:before {
    content: "";
    float: left;
    width: 5px;
    height: 175px;
}
.item-info span {
    display: inline;
}
 .ellipsis span {
    display: inline;
}
ul.nav.nav-tabs.tintuc_nav {
    border: none;
}
.nav-tabs.tintuc_nav > li {
    width: 100%;
        margin-bottom: 10px;
}
.nav-tabs.tintuc_nav {
    width: 100%;
}
.tintuc_nav > li > a {
    background: #fff;
    color: #f23314;
    border: 1px solid #f23314;
    width: 100%!important;
    margin: 0!important;
    padding-left: 0;
    padding-right: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 5px;
}
.nav > li > a:hover, .nav > li > a:focus, .tintuc_nav > li.active > a, .tintuc_nav > li.active > a:hover, .tintuc_nav > li.active > a:focus {
    background: #f23314;
    color: #fff;
    border: 1px solid #f23314;
    width: 100%!important;
    margin: 0!important;
    padding-left: 0;
    padding-right: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 5px;
    margin-right: 0!important;
}
    .container img {
        max-width: 100%;
    }
    .clearfix button.btn.btn-red.pull-right{
        margin-bottom: 10px;
    }
    .ellipsis{
        margin-top: 10px;
    }
    .eventsSlider .item-post{
        padding:0;
    }
    .eventsSlider .item-post .col-sm-5.no-padding{
        padding-left:12px;
        padding-right:12px;
    }
    .content-wrapper img {
        max-width: 100%;
    }

    .pagination li.first, .pagination li.last {
        display: none;
    }

    .search_1 {
        width: 100%;
        margin-top: 0px;
        margin-right: 0;
        padding-right: 68px;
        clear: both;
        float: none;
        margin-bottom: 10px;
    }

    .left-panel-1 {
        padding-left: 12px;
    }

    .right-panel-1 {
        padding-right: 0px;
    }

    .left-panel-2 {
        padding-right: 0px;
        padding-left: 12px;
        padding-top: 6px;
    }

    .right-panel-2 {
        margin-right: 0px;
    }

    .outside span {
        display: initial;
        text-align: right;
    }

    .outside {
        clear: both;
        float: right;
    }

    div#map-canvas {
        margin-bottom: 15px;
    }

    .couse_title {
        margin-right: 12px;
        margin-top: 10px;
    }

    .label-grey.center.red strong, .label-grey.center.red span {
        width: 100%;
        display: block;
        text-align: center;
    }

    ul.rl {
        margin-left: -50px;
    }
    .container ul.rl img{
        max-width: none;
    }
    #testimi_thim li a:focus, #testimi_thim li a:hover {
            border: 0!important;
    margin: 0 0 0 -40px!important;
    }
}

@media (max-width:414px) {
    .item-post{
        margin-bottom: 15px;
    }
.assdd{
    min-height:400px!important
}
    .nanoGalleryContainerParent {
    text-align: center!important;
    }
    .hop-tac-iframe {
        min-height: 570px !important;
        width: 100%;
    }

    .tintuc_nav.news-page > li {
      /*  width: 20%;
        font-size: 12px;*/
    }

    

        .tintuc_nav.news-page > li.active a {
            margin-top: 1px;
            margin-bottom: -1px;
        }

        .tintuc_nav.news-page > li:first-child a, .tintuc_nav.news-page > li:first-child a:hover, .tintuc_nav.news-page > li:first-child a:focus {
            margin-left: -30px;
        }

        .tintuc_nav.news-page > li a:hover, .tintuc_nav.news-page > li a:focus, .tintuc_nav.news-page > li a {
            margin-left: -25px;
            margin-right: 10px;
        }

    ul#pagination-news-2 li.first, ul#pagination-news-2 li.last, ul#pagination-news-2 li.prev, ul#pagination-news-2 li.next {
        display: none;
    }

    h2.box {
        white-space: nowrap;
        padding: 0;
        background-position: center center;
        margin: 0;
        width: 100%;
        text-align: left;
        padding-left: 6px;
    }

    .year_title span {
        font-size: 28px;
    }

    .year_title .fa-angle-left {
        margin-top: 0px;
        font-size: 40px;
    }

    .year_title .fa-angle-right {
        margin-top: -40px;
        font-size: 40px;
    }
}

@media (max-width:320px) {
    ul.nav.nav-tabs.tintuc_nav {
    border: none;
}
.nav-tabs.tintuc_nav > li {
    width: 100%;
        margin-bottom: 10px;
}
.tintuc_nav > li > a {
    background: #fff;
    color: #f23314;
    border: 1px solid #f23314;
    width: 100%!important;
    margin: 0!important;
    padding-left: 0;
    padding-right: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 5px;
}
.tintuc_nav > li.active > a, .tintuc_nav > li.active > a:hover, .tintuc_nav > li.active > a:focus {
    background: #f23314;
    color: #fff;
    border: 1px solid #f23314;
    width: 100%!important;
    margin: 0!important;
    padding-left: 0;
    padding-right: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 5px;
    margin-right: 0!important;
}
    h2.box {
        font-size: 18px;
        margin-bottom: 10px;
        }

}
