﻿@model ACET_WEB.Question

@{
    ViewBag.Title = "Details";
}
@{
    ViewBag.Title = "Add New Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHeadCss{
    <link rel="stylesheet" href="@Url.Content("/assets/css/jquery-ui.custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-timepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/daterangepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-datetimepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/colorpicker.css")" />
}
@section AddToEndBodyJs{
    <script src="@Url.Content("/Content/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("/Content/ckfinder/ckfinder.js")"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/additional-methods.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
    <script src="/assets/js/jquery.maskedinput.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script type="text/javascript">
        var editor = CKEDITOR.replace('post_content_vi', {
        });

    </script>
}
@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1>
        Group Question
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">


        <fieldset>
            <legend>Question</legend>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Question1)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Question1)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Number)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Number)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Created)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Created)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Modified)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Modified)
            </div>

           
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Status)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Status)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.QuestionGroup.Name)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.QuestionGroup.Name)
            </div>
        </fieldset>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
</div>
</div>