﻿@model ACET_WEB.Question

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHeadCss{
    <link rel="stylesheet" href="@Url.Content("/assets/css/jquery-ui.custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-timepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/daterangepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-datetimepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/colorpicker.css")" />
}
@section AddToEndBodyJs{
    <script src="@Url.Content("/Content/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("/Content/ckfinder/ckfinder.js")"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/additional-methods.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
    <script src="/assets/js/jquery.maskedinput.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script type="text/javascript">
        var editor = CKEDITOR.replace('Desc', {
        });

    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
@{
    ViewBag.Title = "Question Editor";
}

<div class="page-header">
    <h1>
        Question Editor
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Question</legend>

                @Html.HiddenFor(model => model.Id)

                <div class="editor-label">
                    @Html.LabelFor(model => model.Question1)
                </div>
                <div class="editor-field form-group">
                    @Html.TextAreaFor(model => model.Question1, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Question1)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Number)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Number)
                    @Html.ValidationMessageFor(model => model.Number)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.AnswerKey)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.AnswerKey)
                    @Html.ValidationMessageFor(model => model.AnswerKey)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Status)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.GroupId, "QuestionGroup")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("GroupId", String.Empty)
                    @Html.ValidationMessageFor(model => model.GroupId)
                </div>
                <br/>
                <p>
                    <input class="btn btn-primary" type="submit" value="Save" />
                </p>
            </fieldset>
        }

        <div>
            @Html.ActionLink("Back to List", "Index",  new  { group=Model.GroupId})
        </div>

       </div></div>