﻿@{
    if (ViewContext.RouteData.Values["pid"].ToString().ToLower() == "tai-sao-chon-ielts")
    {
        ViewBag.Title = "Trung tâm luyện thi IELTS – Học & ôn thi IELTS – Australian Centre for English Training (ACET)";
        ViewBag.metadesc = "Học và ôn thi IELTS tại ACET, trung tâm luyện thi IELTS hàng đầu tại Việt Nam. Luyện thi IELTS tại ACET giúp bạn đạt điểm IELTS từ mức từ 4.0 – 6.5 trở lên";
    }
    else if (ViewContext.RouteData.Values["pid"].ToString().ToLower() == "tai-sao-chon-first-steps")
    {
        ViewBag.Title = "Tiếng Anh trung học cơ sở - Tiếng Anh THCS –  Australian Centre for English Training (ACET)";
        ViewBag.metadesc = "Chương trình Anh ngữ First Steps đào tạo tiếng Anh Tổng Quát & Anh Ngữ học thuật cho học sinh Trung Học Cơ Sở, giúp các em tiếp cận chương trình anh văn phổ thông đạt chuẩn Quốc tế";
    }
    else if (ViewContext.RouteData.Values["pid"].ToString().ToLower() == "tai-sao-chon-anh-ngu-hoc-thuat")
    {
        ViewBag.Title = "Anh Ngữ Học Thuật – Australian Centre for English Training (ACET)";
        ViewBag.metadesc = "Chương trình Anh ngữ Học thuật tại ACET chú trọng nâng cao kỹ năng ngôn ngữ và kỹ năng học thuật, giúp học viên có đủ thực lực để có thể học tập thành công trong môi trường học thuật nói tiếng Anh.";
    }
    else
    {
        ViewBag.Title = "Australian Centre for Education And Training - ACET";
        ViewBag.metadesc = "ACET trung tâm anh ngữ tại Hà Nội và Tp. Hồ Chí Minh các khóa học anh ngữ học thuật, frist step, luyện thi Ielts môi trường học tập hiện đại.";
    }

    if (ViewBag.lang.Equals("vi")){
        Layout = "~/Views/Shared/_HomeLayout.cshtml";
    }else{
        Layout = "~/Views/Shared/_HomeLayoutEng.cshtml";
    }
}
@section AddToHeadCss{
    @if (ViewContext.RouteData.Values["pid"].ToString().ToLower() == "tai-sao-chon-first-steps")
    {
        <link rel="canonical" href="http://acet.edu.vn/tieng-anh-thcs-first-steps.html" />
    }
    else if (ViewContext.RouteData.Values["pid"].ToString().ToLower() == "tai-sao-chon-ielts")
    {
        <link rel="canonical" href="http://acet.edu.vn/luyen-thi-ielts.html" />
    }
    else if (ViewContext.RouteData.Values["pid"].ToString().ToLower() == "tai-sao-chon-anh-ngu-hoc-thuat")
    {
        <link rel="canonical" href="http://acet.edu.vn/anh-ngu-hoc-thuat.html" />
    }
    else
    {
    }
    <style type="text/css">
        thead td {
            background: #b8b8b8;
            color: white;
        }

        #slideshow {
            height: 260px;
            overflow: hidden;
            float: right;
            width: 60%;
        }

        @@media (max-width: 767px) {
            #slideshow {
                width: 100%;
            }
        }

        #item-1 {
            background-image: url(/home/img/tintuc_banner.jpg);
            background-position: top center;
        }

        .carousel-indicators, .carousel-arrow {
            display: none;
        }

        .tintuc_nav {
            margin-top: 20px;
        }

            .tintuc_nav > li > a {
                background: #f23314;
                color: #fff;
                margin-right: 0px;
                background: url('/home/img/nav-right-news.png') no-repeat top right;
                border-radius: 0px;
                width: 160px;
                margin-left: -28px;
            }

            .tintuc_nav > li.active > a, .tintuc_nav > li.active > a:hover, .tintuc_nav > li.active > a:focus {
                background: #fff;
                color: #f23314;
                border: 0px;
                margin-right: 0px;
                background: url('/home/img/nav-right-news-hover.png') no-repeat top right;
                border-radius: 0px;
                /*border-bottom: 1px solid #f23314;*/
            }

        .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
            color: #FFCB00;
            background: #f23314;
            margin-right: 0px;
            background: url('/home/img/nav-right-news.png') no-repeat top right;
            border-radius: 0px;
            width: 160px;
            margin-left: -28px;
            border: 0px;
            /*border-bottom: 1px solid #f23314;*/
        }

        .nav-tabs > li > a {
            border: none;
        }

        .nav-tabs {
            border-bottom: 1px solid #f23314;
        }

            .nav-tabs > li {
            }

        .news-img {
            width: 100%;
            height: 200px;
            border-radius: 4px;
        }

        .news-img-item {
            width: 30%;
            height: 120px;
            float: left;
            border-radius: 4px;
            margin: 6px;
            margin-left: 0px;
        }

        h3.title {
            color: #f23314;
            font-weight: 400;
        }

        h4.title {
            color: #f23314;
            font-weight: 400;
        }

        .item-info {
            float: left;
            width: 66%;
            margin-top: 6px;
        }

        .item-content-news {
            margin-left: 0px;
            position: relative;
            overflow: hidden;
            width: 66%;
            height: 40px;
            text-overflow: ellipsis;
            word-spacing: normal;
            word-wrap: break-word;
            white-space: normal;
        }

        .date_info.item-info {
            margin-top: -6px;
        }

        .box-news-right {
            background: #f2f4f3;
            padding-left: 0px;
            margin-bottom: 10px;
        }

            .box-news-right ul li {
                list-style-image: url('/home/img/list_style.png');
                line-height: 22px;
                padding-bottom: 2px;
                padding-right: 6px;
                font-size: 16px;
            }

            .box-news-right h4.title {
                padding-left: 22px;
            }

        .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
            background: #f23315;
            color: #fff;
            border-color: #c81f05;
        }

        .pagination > li > a, .pagination > li > span {
            color: #f23315;
        }

            .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
                color: #f23315;
            }

        h3.title_box {
            font-size: 22px;
        }

        input.form-radio {
            height: 14px;
            width: 16px;
            line-height: 14px;
        }

        .title_form {
            font-size: 16px;
            padding-left: 4px;
        }

        .left-col ul {
            list-style: none;
            padding: 6px;
            border: 1px solid #DBDBDB;
            margin-left: 6px;
            margin-right: 6px;
            padding-top: 0px;
            padding-bottom: 0px;
        }

            .left-col ul li:last-child {
                border-bottom: 0px;
            }

            .left-col ul li {
                border-bottom: 1px dotted #D0D0D0;
                font-size: 14px;
                line-height: 20px;
                padding-top: 4px;
                padding-bottom: 4px;
            }

                .left-col ul li.active {
                    background-color: #f23314;
                    color: #fff;
                    margin-left: -6px;
                    margin-right: -6px;
                }

                    .left-col ul li.active a {
                        color: #fff;
                        padding-left: 6px;
                    }

                .left-col ul li .is_r {
                    display: none;
                }

        .year_title .fa-angle-left {
            color: #f23314;
            font-size: 60px;
            float: left;
            display: inline-block;
        }

        .year_title .fa-angle-right {
            color: #f23314;
            font-size: 60px;
            float: right;
            display: inline-block;
            margin-top: -60px;
        }

        .year_title span {
            color: #747474;
            font-size: 42px;
            display: block;
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }

        .left-content {
            padding-left: 12px;
        }

        .left12 {
            padding-left: 12px;
        }

        .sub_title {
            background: #ebebeb;
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 12px;
            margin: 12px 0px 6px 0px;
        }

            .sub_title h5.title {
                color: #f21321;
                margin-bottom: 0px;
                font-size: 14px;
            }

        .sub_content > ul {
            padding-left: 15px;
        }

            .sub_content > ul > li {
                color: red;
            }

                .sub_content > ul > li > span {
                    color: black;
                    margin-left: -3px;
                }

        .p_right_fs1 {
            float: right;
            width: 100%;
            height: 260px;
            background: url(../home/img/fs-banner1.png) no-repeat top left;
            background-size: cover;
        }

        .p_right_fs2 {
            float: right;
            width: 100%;
            height: 260px;
            background: url(../home/img/fs-banner2.png) no-repeat top left;
            background-size: cover;
        }

        .p_right_fs, .p_right_fs1, .p_right_fs2 {
            width: 100%;
            max-width: 100%;
        }
         @@media (min-width:1024px){
            .couse_content .col-xs-12 {
                padding-right: 0px;
            }
            .couse_content .col-sm-6 {
                padding-right: 0px;
            }
        }
        @@media (max-width:768px){
            .p_head_1{
                padding-left: 24px;
                text-align: justify;
                padding-right: 12px;
            }
        }
    </style>
}
@section cusJs{
    <script type="text/javascript" src="/home/js/jssor.js"></script>
    <script type="text/javascript" src="/home/js/jssor.slider.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            var _CaptionTransitions = [];
            _CaptionTransitions["L"] = { $Duration: 900, x: 0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["R"] = { $Duration: 900, x: -0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["T"] = { $Duration: 900, y: 0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["B"] = { $Duration: 900, y: -0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["ZMF|10"] = { $Duration: 900, $Zoom: 11, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 };
            _CaptionTransitions["RTT|10"] = { $Duration: 900, $Zoom: 11, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInExpo }, $Opacity: 2, $Round: { $Rotate: 0.8 } };
            _CaptionTransitions["RTT|2"] = { $Duration: 900, $Zoom: 3, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseInQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInQuad }, $Opacity: 2, $Round: { $Rotate: 0.5 } };
            _CaptionTransitions["RTTL|BR"] = { $Duration: 900, x: -0.6, y: -0.6, $Zoom: 11, $Rotate: 1, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInCubic }, $Opacity: 2, $Round: { $Rotate: 0.8 } };
            _CaptionTransitions["CLIP|LR"] = { $Duration: 900, $Clip: 15, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic }, $Opacity: 2 };
            _CaptionTransitions["MCLIP|L"] = { $Duration: 900, $Clip: 1, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } };
            _CaptionTransitions["MCLIP|R"] = { $Duration: 900, $Clip: 2, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } };

            var options = {
                $HWA: false,
                $FillMode: 2,                                       //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 800,                               //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $CaptionSliderOptions: {                            //[Optional] Options which specifies how to animate caption
                    $Class: $JssorCaptionSlider$,                   //[Required] Class to create instance to animate caption
                    $CaptionTransitions: _CaptionTransitions,       //[Required] An array of caption transitions to play caption, see caption transition section at jssor slideshow transition builder
                    $PlayInMode: 1,                                 //[Optional] 0 None (no play), 1 Chain (goes after main slide), 3 Chain Flatten (goes after main slide and flatten all caption animations), default value is 1
                    $PlayOutMode: 3                                 //[Optional] 0 None (no play), 1 Chain (goes before main slide), 3 Chain Flatten (goes before main slide and flatten all caption animations), default value is 1
                },

                $BulletNavigatorOptions: {                          //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                 //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 8,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 8,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                },

                $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 1,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                }
            };

            if ($(window).width() > 768) {
                var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            } else {
                var jssor_slider2 = new $JssorSlider$("slider2_container", options);
            }
           //
            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var bodyWidth = document.body.clientWidth;
                if (bodyWidth) {
                    if ($(window).width() > 768) {
                        jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
                    } else {
                        jssor_slider2.$ScaleWidth(Math.min(bodyWidth, 768));
                    }

                  //  jssor_slider2.$ScaleWidth(Math.min(bodyWidth, 1920));
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
}
@Html.Partial("~/Views/Shared/PageBanner2.cshtml")
<!-- Home Slider -->

<div class="container">
    <ul class="breakcrumb" id="course_link" xmlns:v="http://rdf.data-vocabulary.org/#">
        @if (ViewBag.lang.Equals("vi"))
        {
            <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="/">TRANG CHỦ</a></li>
            <li typeof="v:Breadcrumb">
                > <a rel="v:url" property="v:title" href="/@(ViewContext.RouteData.Values["id"])/@(ViewContext.RouteData.Values["pid"]).html">
                    @if (ViewContext.RouteData.Values["pid"].ToString().ToLower() == "tai-sao-chon-first-steps")
                    {
                        <text>CHƯƠNG TRÌNH ANH NGỮ FIRST STEPS</text>
                    }
                    else if (ViewContext.RouteData.Values["pid"].ToString().ToLower() == "tai-sao-chon-ielts")
                    {
                        <text>LUYỆN THI IELTS</text>
                    }
                    else if (ViewContext.RouteData.Values["pid"].ToString().ToLower() == "tai-sao-chon-anh-ngu-hoc-thuat")
                    {
                        <text>ANH NGỮ HỌC THUẬT</text>
                    }
                    else
                    {
                        @Model.Title
                    }
                </a>
            </li>
        }
        else
        {
            <li><a href="/">HOME</a></li>
            <li>> <a href="/@(ViewContext.RouteData.Values["id"])/@(ViewContext.RouteData.Values["pid"]).html">@Model.TitleEng</a></li>
        }
    </ul>
</div>

<div class="container show_1024">
    <div class="row">
        @Html.Partial("~/Views/Shared/CenterBar.cshtml")
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">


            <div class="row">
                <div class="left-col">
                    <ul class="">
                    @if(ViewBag.lang.Equals("vi")){
                         foreach (var item in (List<ACET_WEB.Post>)ViewData["posts"])
                    {
                        <li @if (item.Slug.Equals(ViewContext.RouteData.Values["pid"]))
                            { @Html.Raw(" class='active'")}><a href="/@(ViewContext.RouteData.Values["id"])/@(item.Slug).html">@item.Title</a> <i class="fa fa-angle-right is_r"></i></li>

                    } 
                    }else{
                     foreach (var item in (List<ACET_WEB.Post>)ViewData["posts"])
                    {
                        <li @if (item.SlugEng.Equals(ViewContext.RouteData.Values["pid"]))
                            { @Html.Raw(" class='active'")}><a href="/@(ViewContext.RouteData.Values["id"])/@(item.SlugEng).html">@item.TitleEng</a> <i class="fa fa-angle-right is_r"></i></li>

                    } 
                }
                   
                    </ul>
                </div>
                <div class="right-col">
                    <div class="tab-content">

                        <!-- Tin uu dai-->
                        <div class="tab-pane fade in active" id="tai-sao">
                            @if(ViewBag.lang.Equals("vi")){
                            @Html.Raw(Model.Content)
                        }else{
                            @Html.Raw(Model.ContentEng)
                        }
                        </div>
                        <!-- Tin uu dai-->
                        <!-- Tin uu dai-->


                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

    <div class="row">
        <div class="col-sm-12 no-padding">
			@if(ViewBag.lang.Equals("vi")){
				if(ViewBag.OtherBox!=null){
            	<div class="col-sm-12"><h2 class="title box">CÁC CHƯƠNG TRÌNH HỌC KHÁC</h2></div>
           		@Html.Raw(ViewBag.OtherBox.Value)
           		}
			} else {
				if(ViewBag.OtherBox!=null){
			<div class="col-sm-12"><h2 class="title box">OTHER COURSES</h2></div>
           		@Html.Raw(ViewBag.OtherBox.Value)
           		}
			}
        </div>
    </div> <!-- / .row -->
    <p></p>
</div>
<!-- Recent Blog Posts -->
@Html.Partial("~/Views/Shared/BottomPage1.cshtml")

@Html.Partial("~/Views/Shared/RightPage.cshtml")
@section AddToEndBodyJs{
    <script type="text/javascript">

        $(document).ready(function () {
            fix_right();
			$("#slideshow > div:gt(0)").hide();

			setInterval(function() {
			  $('#slideshow > div:first')
				.fadeOut(1000)
				.next()
				.fadeIn(1000)
				.end()
				.appendTo('#slideshow');
			},  3000);
        });
        $(window).on("scroll touchmove", function () {

            fix_right()

        });
        $(document).ready(function () {

            $('.btn-more').click(function () {
                $('#chtrdaotao p').addClass("hide");
                $('#chtrdaotao').removeClass("col-md-6").addClass("col-md-12");
                $(this).addClass("hide");
                $('#table_info').removeClass("hide");
                $('.btn-back').removeClass("hide");
                $('#taisaofs').addClass("hide");
            });

            $('.btn-back').click(function () {
                $('#chtrdaotao p').removeClass("hide");
                $('#chtrdaotao').removeClass("col-md-12").addClass("col-md-6");
                $(this).addClass("hide");
                $('#table_info').addClass("hide");
                $('.btn-more').removeClass("hide");
                $('#taisaofs').removeClass("hide");
            });

            $('.btn-transfer-more').click(function () {
                $('#chtrdaotao').addClass("hide");
                $('#taisaofs').removeClass("col-md-6").addClass("col-md-12");
                $(this).addClass("hide");
                $('#taisaofs .short').addClass("hide");
                $('#taisaofs .long').removeClass("hide");
                $('.btn-transfer-back').removeClass("hide");
            });

            $('.btn-transfer-back').click(function () {
                $('#chtrdaotao').removeClass("hide");
                $('#taisaofs').removeClass("col-md-12").addClass("col-md-6");
                $(this).addClass("hide");
                $('#taisaofs .short').removeClass("hide");
                $('#taisaofs .long').addClass("hide");
                $('.btn-transfer-more').removeClass("hide");
            });

        });

    </script>
}
