﻿@{
   
    if(ViewBag.lang.Equals("vi")){
     ViewBag.Title = Model.Name + " - ACET";
        Layout = "~/Views/Shared/_HomeLayout.cshtml";
    }else{
     ViewBag.Title = Model.NameEng + " - ACET";
        Layout = "~/Views/Shared/_HomeLayoutEng.cshtml";
    }
}
@using ExtensionMethods;
@section AddToHeadCss{
        @if (ViewBag.lang.Equals("vi"))
        {
            <link rel="canonical" href="http://acet.edu.vn/@(Model.Slug).html" />
        }
        else
        {
            <link rel="canonical" href="http://acet.edu.vn/@(Model.SlugEng).html" />
        }
    

    <style type="text/css">
        #item-1 {
            background-image: url(/home/img/tintuc_banner.jpg);
            background-position: top center;
        }
         .tab-content .col-sm-4 {
            float: right;
        }
        .carousel-indicators, .carousel-arrow {
            display: none;
        }

        .tintuc_nav {
            margin-top: 20px;
        }

            .tintuc_nav > li > a {
                background: #f23314;
                color: #fff;
                margin-right: 0px;
                background: url('/home/img/nav-right-news.png') no-repeat top right;
                border-radius: 0px;
                width: 160px;
                margin-left: -28px;
            }

            .tintuc_nav > li.active > a, .tintuc_nav > li.active > a:hover, .tintuc_nav > li.active > a:focus {
                background: #fff;
                color: #f23314;
                border: 0px;
                margin-right: 0px;
                background: url('/home/img/nav-right-news-hover.png') no-repeat top right;
                border-radius: 0px;
                border-bottom: 1px solid #f23314;
            }

        .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
            color: #FFCB00;
            background: #f23314;
            margin-right: 0px;
            background: url('/home/img/nav-right-news.png') no-repeat top right;
            border-radius: 0px;
            width: 160px;
            margin-left: -28px;
            border: 0px;
            border-bottom: 1px solid #f23314;
        }

        .nav-tabs {
            border-bottom: 1px solid #f23314;
        }

            .nav-tabs > li {
            }

        .news-img {
            width: 100%;
            height: 200px;
            border-radius: 4px;
        }

        .news-img-item {
            width: 30%;
            height: 120px;
            float: left;
            border-radius: 4px;
            margin: 6px;
            margin-left: 0px;
        }

        h3.title {
            color: #f23314;
            font-weight: 400;
        }

        h4.title {
            color: #f23314;
            font-weight: 400;
        }

        .item-info {
            float: left;
            width: 66%;
            margin-top: 6px;
        }

        .item-content-news {
            margin-left: 0px;
            position: relative;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            word-spacing: normal;
            word-wrap: break-word;
            white-space: normal;
        }

        .date_info.item-info {
            margin-top: -6px;
        }

        .box-news-right {
            background: #f2f4f3;
            padding-left: 0px;
            margin-bottom: 10px;
        }

            .box-news-right ul li {
                list-style-image: url('/home/img/list_style.png');
                line-height: 22px;
                padding-bottom: 2px;
                padding-right: 6px;
                font-size: 14px;
            }

            .box-news-right h4.title {
                padding-left: 22px;
            }

        .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
            background: #f23315;
            color: #fff;
            border-color: #c81f05;
        }

        .pagination > li > a, .pagination > li > span {
            color: #f23315;
        }

            .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
                color: #f23315;
            }

        h3.title_box {
            font-size: 22px;
        }

        input.form-radio {
            height: 14px;
            width: 16px;
            line-height: 14px;
        }

        .title_form {
            font-size: 16px;
            padding-left: 4px;
        }
    </style>
}
@section AddToEndBodyJs{
@if(ViewBag.lang.Equals("vi")){
 <script type="text/javascript">
 var format_date = "DD/MM/YYYY";
 var location_str_text = "Tại";
 var not_found_text = "Không tìm thấy bài viết.";
 </script>
 }else{
  <script type="text/javascript">
  var format_date = "MM/DD/YYYY";
 var location_str_text = "At";
  var not_found_text = "No Record Found";
   </script>
 }
    <script type="text/javascript">
        
        $(document).ready(function () {
            fix_right()
        });setTimeout(function(){fix_right();},2000); $( window ).resize(function() {
           fix_right();
        });
        $(window).on("scroll touchmove", function () {

            fix_right()

        });
        var search_value = "";
        var search_type = 2;
        function load_news(type, current_page, element, search_value) {
            var limit = 8;
            var offset = limit * current_page;
            var data_get = { cus_type: type, limit: limit, offset: offset, search_value: search_value };
            $.get('/api/articles/', data_get).done(function (rs) {
                var htmlstr = '';
                if (rs.data.length > 0) {
                    $('#pagination-news' + type).empty();
                    $('#pagination-news' + type).removeData("twbs-pagination");
                    $('#pagination-news' + type).unbind("page");
                    $(element).html('');
                    $.each(rs.data, function (i, j) {
                        if (i == 0 || i == 1) {
                            htmlstr += ' <div class="col-sm-6" style="padding-bottom: 10px;">  <a href="/'+j[8]+'/' + j[5] + '.html">';
                            htmlstr += '     <div class="news-img" style="background:url(' + j[3] + ') no-repeat top center;background-size:cover"></div>';
                            htmlstr += '     </a><div class="new1 ellipsis"><div><a href="/' + j[8] + '/' + j[5] + '.html"><h3 class="title" style="font-size:18px;">' + j[1] + '</h3> </a>';
                            htmlstr += '  <p class="date_info"><span class="date">(' + moment(j[4],'MM/DD/YYYY H:I:S Z').format(format_date) + ')</span> - <span> '+ location_str_text +' '+j[6]+'</span></p>';
                            htmlstr += '  <p>' + j[2] + ' </p>  </div></div></div>';
                        } else {
                            if (i == 2) {
                                htmlstr += '<div class="col-sm-8">';
                            }
                            htmlstr += ' <a href="/' + j[8] + '/' + j[5] + '.html"><div class="col-xs-12 no-padding item-news-child" style="border-bottom: 1px dotted black;"> ';
                            htmlstr += '  <div class="news-img-item" style="background:url(' + j[3] + ') no-repeat top left;background-size:150px 100px;"></div>';
                            htmlstr += '  <h4 class="title item-info">' + j[1] + '</h4>';
                            htmlstr += '        <p class="date_info item-info"><span class="date">(' + moment(j[4],'MM/DD/YYYY H:I:S Z').format(format_date) + ')</span> - <span> '+ location_str_text +' '+j[6]+'</span></p>';
                            htmlstr += '     <div class="new2 ellipsis"><div> <p class="item-content-news">' + j[2] + ' </p></div></div></div></a>';
                            if (i == (rs.data.length - 1)) {
                                htmlstr += '<ul id="pagination-news-' + type + '" class="pagination"></ul></div>';
                            }
                        }
                    });
                    htmlstr += $('#hh').html();
                    $(element).html(htmlstr);
                    $('#pagination-news-' + type).twbsPagination({
                        totalPages: Math.ceil(rs.recordsTotal / limit),
                        visiblePages: 7,
                        startPage: current_page+1,
                        onPageClick: function (event, page) {
                            load_news(type, page-1, element);
                        }
                    });
                } else {
                    $(element).html("<p class='center'>"+not_found_text+"</p>");
                   
                    $('#pagination-news' + type).empty();
                    $('#pagination-news' + type).removeData("twbs-pagination");
                    $('#pagination-news' + type).unbind("page");
                    $('#pagination-news-' + type).twbsPagination({
                        totalPages: 1,
                        visiblePages: 7,
                        startPage: 1,
                        onPageClick: function (event, page) {
                            //load_news(type, page - 1, element);
                        }
                    });
                }
            });
        }
        $(document).ready(function () {
           
            load_news(@Model.Id, 0, "#tin-tuc-list","");
        });
        $("#btn-search").on("click", function (e) {
            load_news($(".container .nav li.active").attr("data-id"), 0, "#tin-tuc-list", $("#search_value").val());
        });
       
        $("#search_value").keypress(function (event) {
            if (event.which == 13) {
                load_news($(".container .nav li.active").attr("data-id"), 0, "#tin-tuc-list", $("#search_value").val());
            }
        });
   </script>
}
@section cusJs{
    <script type="text/javascript" src="/home/js/jssor.js"></script>
    <script type="text/javascript" src="/home/js/jssor.slider.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            var _CaptionTransitions = [];
            _CaptionTransitions["L"] = { $Duration: 900, x: 0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["R"] = { $Duration: 900, x: -0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["T"] = { $Duration: 900, y: 0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["B"] = { $Duration: 900, y: -0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["ZMF|10"] = { $Duration: 900, $Zoom: 11, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 };
            _CaptionTransitions["RTT|10"] = { $Duration: 900, $Zoom: 11, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInExpo }, $Opacity: 2, $Round: { $Rotate: 0.8 } };
            _CaptionTransitions["RTT|2"] = { $Duration: 900, $Zoom: 3, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseInQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInQuad }, $Opacity: 2, $Round: { $Rotate: 0.5 } };
            _CaptionTransitions["RTTL|BR"] = { $Duration: 900, x: -0.6, y: -0.6, $Zoom: 11, $Rotate: 1, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInCubic }, $Opacity: 2, $Round: { $Rotate: 0.8 } };
            _CaptionTransitions["CLIP|LR"] = { $Duration: 900, $Clip: 15, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic }, $Opacity: 2 };
            _CaptionTransitions["MCLIP|L"] = { $Duration: 900, $Clip: 1, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } };
            _CaptionTransitions["MCLIP|R"] = { $Duration: 900, $Clip: 2, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } };

            var options = {
                $HWA: false,
                $FillMode: 2,                                       //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 800,                               //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $CaptionSliderOptions: {                            //[Optional] Options which specifies how to animate caption
                    $Class: $JssorCaptionSlider$,                   //[Required] Class to create instance to animate caption
                    $CaptionTransitions: _CaptionTransitions,       //[Required] An array of caption transitions to play caption, see caption transition section at jssor slideshow transition builder
                    $PlayInMode: 1,                                 //[Optional] 0 None (no play), 1 Chain (goes after main slide), 3 Chain Flatten (goes after main slide and flatten all caption animations), default value is 1
                    $PlayOutMode: 3                                 //[Optional] 0 None (no play), 1 Chain (goes before main slide), 3 Chain Flatten (goes before main slide and flatten all caption animations), default value is 1
                },

                $BulletNavigatorOptions: {                          //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                 //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 8,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 8,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                },

                $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 1,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                }
            };

            if ($(window).width() > 768) {
                var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            } else {
                var jssor_slider2 = new $JssorSlider$("slider2_container", options);
            }
           // 
            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var bodyWidth = document.body.clientWidth;
                if (bodyWidth) {
                    if ($(window).width() > 768) {
                        jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
                    } else {
                        jssor_slider2.$ScaleWidth(Math.min(bodyWidth, 768));
                    }
                    
                  //  jssor_slider2.$ScaleWidth(Math.min(bodyWidth, 1920));
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });

    </script>
}
@Html.Partial("~/Views/Shared/PageBanner2.cshtml")
<div class="container">

    <ul class="breakcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
    @if(ViewBag.lang.Equals("vi")){
        <li typeof="v:Breadcrumb"><a href="/" rel="v:url" property="v:title">TRANG CHỦ</a></li>
        <li typeof="v:Breadcrumb">> <a href="/@(Model.Slug).html" rel="v:url" property="v:title">@Model.Name</a></li>
        }else{
          <li typeof="v:Breadcrumb"><a href="/" rel="v:url" property="v:title">HOME</a></li>
        <li typeof="v:Breadcrumb">> <a href="/@(Model.Slug).html" rel="v:url" property="v:title">@Model.NameEng</a></li>
        }
    </ul>
</div>
<div class="container show_1024">
    <div class="row">
        @Html.Partial("~/Views/Shared/CenterBar.cshtml")
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <!-- Navs -->
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs tintuc_nav news-page">
                     @if (ViewBag.lang.Equals("vi"))
                     {
                        if (Model.Id == 72)
                        {
                            <li class='active' data-id="72"><a href="/tin-uu-dai.html" style="z-index:4"><h1 style="font-size:14px;margin:0px;line-height:1.42857143;">TIN ƯU ĐÃI</h1></a></li>
                        }
                        else
                        {
                            <li data-id="72"><a href="/tin-uu-dai.html" style="z-index:4">TIN ƯU ĐÃI</a></li>
                        }
                        if (Model.Id == 73)
                        {
                            <li class='active' data-id="73"><a href="/su-kien.html" style="z-index:3"><h1 style="font-size:14px;margin:0px;line-height:1.42857143;">SỰ KIỆN</h1></a></li>
                        }
                        else
                        {
                            <li data-id="73"><a href="/su-kien.html" style="z-index:3">SỰ KIỆN</a></li>
                        }
                        if (Model.Id == 90)
                        {
                            <li class='active' data-id="90"><a href="/tin-bao-chi.html" style="z-index:2"><h1 style="font-size:14px;margin:0px;line-height:1.42857143;">TIN BÁO CHÍ</h1></a></li>
                        }
                        else
                        {
                            <li data-id="90"><a href="/tin-bao-chi.html" style="z-index:2">TIN BÁO CHÍ</a></li>
                        }
                        if (Model.Id == 74)
                        {
                            <li class='active' data-id="74"><a href="/tin-doi-tac.html" style="z-index:1"><h1 style="font-size:14px;margin:0px;line-height:1.42857143;">TIN ĐỐI TÁC</h1></a></li>
                        }
                        else
                        {
                            <li data-id="74"><a href="/tin-doi-tac.html" style="z-index:1">TIN ĐỐI TÁC</a></li>
                        }

                     }
                     else
                     {
                        if (Model.Id == 72)
                        {
                            <li class='active' data-id="72"><a href="/promotion.html" style="z-index:4"><h1 style="font-size:14px;margin:0px;line-height:1.42857143;">PROMOTION</h1></a></li>
                        }
                        else
                        {
                            <li data-id="72"><a href="/promotion.html" style="z-index:4">PROMOTION</a></li>
                        }
                        if (Model.Id == 73)
                        {
                            <li class='active' data-id="73"><a href="/events.html" style="z-index:3"><h1 style="font-size:14px;margin:0px;line-height:1.42857143;">EVENTS</h1></a></li>
                        }
                        else
                        {
                            <li data-id="73"><a href="/events.html" style="z-index:3">EVENTS</a></li>
                        }
                        if (Model.Id == 90)
                        {
                            <li class='active' data-id="90"><a href="/media-news.html" style="z-index:2"><h1 style="font-size:14px;margin:0px;line-height:1.42857143;">MEDIA NEWS</h1></a></li>
                        }
                        else
                        {
                            <li data-id="90"><a href="/media-news.html" style="z-index:2">MEDIA NEWS</a></li>
                        }
                        if (Model.Id == 74)
                        {
                            <li class='active' data-id="74"><a href="/news-from-partnerships.html" style="z-index:1"><h1 style="font-size:14px;margin:0px;line-height:1.42857143;">PARTNERSHIPS</h1></a></li>
                        }
                        else
                        {
                            <li data-id="74"><a href="/news-from-partnerships.html" style="z-index:1">PARTNERSHIPS</a></li>
                        }
                    }
                     </ul>
                </div>

            </div>
             @if(ViewBag.lang.Equals("vi")){
            <div class="input-group search_1" >
                <input type="text" id="search_value" class="form-control" placeholder="Tìm kiếm" style="  border-right: none;">
                <span class="input-group-btn">
                    <input class="btn " type="button" id="btn-search" style="
                    background: url('/home/img/seach-icon.png') no-repeat;
                    width: 68px;
                    border-color: gainsboro;
                        height:34px;
  border-left: none;
                ">
                </span>
            </div>
            }else{
            <div class="input-group search_1" >
                <input type="text" id="search_value" class="form-control hide" placeholder="Search" style="  border-right: none;">
                <span class="input-group-btn hide">
                    <input class="btn " type="button" id="btn-search" style="
                    background: url('/home/img/seach-icon.png') no-repeat;
                    width: 68px;
                    border-color: gainsboro;
                        height:34px;
  border-left: none;
                ">
                </span>
            </div>
            }
            <div class="row">
                @if(ViewBag.lang.Equals("vi")){
                   <div class="tab-content">
				
                    <!-- Tin uu dai-->
                    <div class="tab-pane fade in active" id="tin-tuc-list">
                       
                    </div>
                 
                </div>
				} else {
					<div  class="tab-content" style="padding-left: 20px">
							Sorry, this content is only available in Vietnamese
					</div>
					<div class="tab-content hide">
						<!-- Tin uu dai-->
						<div class="tab-pane fade in active" id="tin-tuc-list">
						   
						</div>
					 
					</div>
				}
            </div>

        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->
<div id="hh" class="hide">
    @if (Model.Id != 72)
    {
        <div class="col-sm-4" >
         @if (ViewBag.lang.Equals("vi"))
         {
            <div class="col-xs-12 no-padding box-news-right">
                <h4 class="title">TIN MỚI NHẤT</h4>
                <ul id="tin-moi">
                    @foreach (var item in (List<ACET_WEB.Post>)ViewData["post_lasted"])
                    {
                        <li><a href="/@item.Category.Slug/@(item.Slug).html">@item.Title</a> </li>
                    }
                </ul>
            </div>
            <div class="col-xs-12 no-padding box-news-right">
                <h4 class="title">TIN HOT NHẤT</h4>
                <ul id="tin-moi">
                    @foreach (var item in (List<ACET_WEB.Post>)ViewData["post_hotest"])
                    {
                        <li><a href="/@item.Category.Slug/@(item.Slug).html">@item.Title</a> </li>
                    }
                </ul>
            </div>
         }
         else
         {
             <div class="col-xs-12 no-padding box-news-right">
                <h4 class="title">LASTEST NEWS</h4>
                <ul id="tin-moi">
                    @foreach (var item in (List<ACET_WEB.Post>)ViewData["post_lasted"])
                    {
                        <li><a href="/@item.Category.SlugEng/@(item.SlugEng).html">@item.TitleEng</a> </li>
                    }
                </ul>
            </div>
            <div class="col-xs-12 no-padding box-news-right">
                <h4 class="title">HOT NEWS</h4>
                <ul id="tin-moi">
                    @foreach (var item in (List<ACET_WEB.Post>)ViewData["post_hotest"])
                    {
                        <li><a href="/@item.Category.SlugEng/@(item.SlugEng).html">@item.TitleEng</a> </li>
                    }
                </ul>
            </div>
         }
            <div class="col-xs-12 no-padding hide">
                <img src="/home/img/ads_news_right.jpg" width="100%">
            </div>
        </div>
    }
    else
    {
        <div class="col-sm-4"></div>
    }
</div>
<!-- Recent Blog Posts -->
@Html.Partial("~/Views/Shared/BottomPage1.cshtml")
@Html.Partial("~/Views/Shared/RightPage.cshtml")