﻿@{
    ViewBag.Title = "Australian Centre for Education And Training - ACET";
    if(ViewBag.lang.Equals("vi")){
        Layout = "~/Views/Shared/_HomeLayout.cshtml";
    }else{
        Layout = "~/Views/Shared/_HomeLayoutEng.cshtml";
    }
}

@section AddToHeadCss{
    <link rel="stylesheet prefetch" href="/home/css/nanogallery.css">
    <link href="/home/css/ekko-lightbox.css" rel="stylesheet">
<style type="text/css">
    p.in-1 {
        padding: 0px 0px 12px 12px;
    }

    thead td {
        background: #b8b8b8;
    }

    #item-1 {
        background-image: url(/home/img/tintuc_banner.jpg);
        background-position: top center;
    }

    .carousel-indicators, .carousel-arrow {
        display: none;
    }

    .tintuc_nav {
        margin-top: 20px;
    }

        .tintuc_nav > li > a {
            background: #f23314;
            color: #fff;
            margin-right: 0px;
            background: url('/home/img/nav-right-news.png') no-repeat top right;
            border-radius: 0px;
            width: 160px;
            margin-left: -38px;
        }

        .tintuc_nav > li.active > a, .tintuc_nav > li.active > a:hover, .tintuc_nav > li.active > a:focus {
            background: #fff;
            color: #f23314;
            border: 0px;
            margin-right: 0px;
            background: url('/home/img/nav-right-news-hover.png') no-repeat top right;
            border-radius: 0px;
            border-bottom: 1px solid #f23314;
        }

    .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
        color: #FFCB00;
        background: #f23314;
        margin-right: 0px;
        background: url('/home/img/nav-right-news.png') no-repeat top right;
        border-radius: 0px;
        width: 160px;
        margin-left: -38px;
        border: 0px;
        border-bottom: 1px solid #f23314;
    }

    .nav-tabs {
        border-bottom: 1px solid #f23314;
    }

        .nav-tabs > li {
        }

    .news-img {
        width: 100%;
        height: 200px;
        border-radius: 4px;
    }

    .news-img-item {
        width: 30%;
        height: 120px;
        float: left;
        border-radius: 4px;
        margin: 6px;
        margin-left: 0px;
    }

    h3.title {
        color: #f23314;
        font-weight: 400;
    }

    h4.title {
        color: #f23314;
        font-weight: 400;
    }

    .item-info {
        float: left;
        width: 66%;
        margin-top: 6px;
    }

    .item-content-news {
        margin-left: 0px;
        position: relative;
        overflow: hidden;
        width: 66%;
        height: 40px;
        text-overflow: ellipsis;
        word-spacing: normal;
        word-wrap: break-word;
        white-space: normal;
    }

    .date_info.item-info {
        margin-top: -6px;
    }

    .box-news-right {
        background: #f2f4f3;
        padding-left: 0px;
        margin-bottom: 10px;
    }

        .box-news-right ul li {
            list-style-image: url('/home/img/list_style.png');
            line-height: 22px;
            padding-bottom: 2px;
            padding-right: 6px;
            font-size: 16px;
        }

        .box-news-right h4.title {
            padding-left: 22px;
        }

    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        background: #f23315;
        color: #fff;
        border-color: #c81f05;
    }

    .pagination > li > a, .pagination > li > span {
        color: #f23315;
    }

        .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
            color: #f23315;
        }

    h3.title_box {
        font-size: 22px;
    }

    input.form-radio {
        height: 14px;
        width: 16px;
        line-height: 14px;
    }

    .title_form {
        font-size: 16px;
        padding-left: 4px;
    }

    .left-col ul {
        list-style: none;
        padding: 0px 6px;
        border: 1px solid #DBDBDB;
        margin-left: 6px;
        margin-right: 6px;
    }

        .left-col ul li {
            border-bottom: 1px dotted #D0D0D0;
            font-size: 14px;
            line-height: 20px;
            padding-top: 4px;
            padding-bottom: 4px;
        }

            .left-col ul li.active {
                background-color: #f23314;
                color: #fff;
                margin-left: -6px;
                margin-right: -6px;
            }

            .left-col ul li:active, .left-col ul li:hover, .left-col ul li:focus {
                background-color: #f23314;
                color: #fff;
                margin-left: -6px;
                margin-right: -6px;
            }

                .left-col ul li.active a, .left-col ul li:active a, .left-col ul li:hover a, .left-col ul li:focus a {
                    color: #fff;
                    padding-left: 6px;
                }

            .left-col ul li .is_r {
                display: none;
            }

            .left-col ul li.active .is_r {
                display: inline-block;
                float: right;
                color: #fff;
                margin-top: -20px;
                margin-right: 0px;
                font-size: 20px;
            }

    .year_title .fa-angle-left {
        color: #f23314;
        font-size: 60px;
        float: left;
        display: inline-block;
    }

    .year_title .fa-angle-right {
        color: #f23314;
        font-size: 60px;
        float: right;
        display: inline-block;
        margin-top: -60px;
    }

    .year_title span {
        color: #747474;
        font-size: 42px;
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
</style>

<link href="/home/css/about.css" rel="stylesheet">
}
@section cusJs{
    <script type="text/javascript" src="/home/js/jssor.js"></script>
    <script type="text/javascript" src="/home/js/jssor.slider.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            var _CaptionTransitions = [];
            _CaptionTransitions["L"] = { $Duration: 900, x: 0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["R"] = { $Duration: 900, x: -0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["T"] = { $Duration: 900, y: 0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["B"] = { $Duration: 900, y: -0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["ZMF|10"] = { $Duration: 900, $Zoom: 11, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 };
            _CaptionTransitions["RTT|10"] = { $Duration: 900, $Zoom: 11, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInExpo }, $Opacity: 2, $Round: { $Rotate: 0.8 } };
            _CaptionTransitions["RTT|2"] = { $Duration: 900, $Zoom: 3, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseInQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInQuad }, $Opacity: 2, $Round: { $Rotate: 0.5 } };
            _CaptionTransitions["RTTL|BR"] = { $Duration: 900, x: -0.6, y: -0.6, $Zoom: 11, $Rotate: 1, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInCubic }, $Opacity: 2, $Round: { $Rotate: 0.8 } };
            _CaptionTransitions["CLIP|LR"] = { $Duration: 900, $Clip: 15, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic }, $Opacity: 2 };
            _CaptionTransitions["MCLIP|L"] = { $Duration: 900, $Clip: 1, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } };
            _CaptionTransitions["MCLIP|R"] = { $Duration: 900, $Clip: 2, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } };

            var options = {
                $HWA: false,
                $FillMode: 2,                                       //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 800,                               //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $CaptionSliderOptions: {                            //[Optional] Options which specifies how to animate caption
                    $Class: $JssorCaptionSlider$,                   //[Required] Class to create instance to animate caption
                    $CaptionTransitions: _CaptionTransitions,       //[Required] An array of caption transitions to play caption, see caption transition section at jssor slideshow transition builder
                    $PlayInMode: 1,                                 //[Optional] 0 None (no play), 1 Chain (goes after main slide), 3 Chain Flatten (goes after main slide and flatten all caption animations), default value is 1
                    $PlayOutMode: 3                                 //[Optional] 0 None (no play), 1 Chain (goes before main slide), 3 Chain Flatten (goes before main slide and flatten all caption animations), default value is 1
                },

                $BulletNavigatorOptions: {                          //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                 //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 8,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 8,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                },

                $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 1,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                }
            };

            if ($(window).width() > 768) {
                var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            } else {
                var jssor_slider2 = new $JssorSlider$("slider2_container", options);
            }
           // 
            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var bodyWidth = document.body.clientWidth;
                if (bodyWidth) {
                    if ($(window).width() > 768) {
                        jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
                    } else {
                        jssor_slider2.$ScaleWidth(Math.min(bodyWidth, 768));
                    }
                    
                  //  jssor_slider2.$ScaleWidth(Math.min(bodyWidth, 1920));
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });

    </script>
}
@Html.Partial("~/Views/Shared/PageBanner.cshtml")
<div class="container">
    <ul class="breakcrumb">
        <li><a href="/">TRANG CHỦ</a></li>
        <li>> <a href="/tieu-chuan-chat-luong.html">TIÊU CHUẨN CHẤT LƯỢNG</a></li>
    </ul>
</div>
<div class="container show_1024">
    <div class="row">
        @Html.Partial("~/Views/Shared/CenterBar.cshtml")
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="left-col">
                    <ul class="">
                        <li><a href="/gioi-thieu-trung-tam-anh-ngu-acet.html">Giới thiệu</a> <i class="fa fa-angle-right is_r"></i></li>
                        <li><a href="/doi-ngu-giao-vien.html" >Đội ngũ giáo viên</a><i class="fa fa-angle-right is_r"></i></li>
                        <li class="active"><a href="/co-so-vat-chat.html" >Cơ sở vật chất</a><i class="fa fa-angle-right is_r"></i></li>
                        <li><a href="/chung-nhan-giai-thuong.html" >Chứng nhận & Giải thưởng</a><i class="fa fa-angle-right is_r"></i></li>
                        <li><a href="/hinh-anh-va-video.html">Hình ảnh & Video</a><i class="fa fa-angle-right is_r"></i></li>
                        <li><a href="/chuong-trinh-hop-tac.html" >Chương trình hợp tác</a><i class="fa fa-angle-right is_r"></i></li>
                        <li><a href="/insearch.html" >Insearch</a><i class="fa fa-angle-right is_r"></i></li>
                        <li style="border-bottom:none;"><a href="/idp.html" >IDP</a><i class="fa fa-angle-right is_r"></i></li>
                    </ul>
                </div>
                <div class="right-col">
                    <div class="tab-content">
                    
                        <div class="tab-pane fade in active " id="tccl">
                            <div class="couse_title">CƠ SỞ VẬT CHẤT</div>
                            <div class="couse_content">
                                <div class="left-contentfull">
                                    <p style="margin-bottom:0px;text-align:justify;">ACET có các cơ sở tại Hà Nội và thành phố Hồ Chí Minh. Các cơ sở này được tạo dựng nhằm cung cấp cho học viên môi trường học tập theo tiêu chuẩn quốc tế.</p>
                                </div>
                            </div>
                            <div class="col-sm-12 no-padding" style="padding-right:16px">
                                <ul class="nav nav-tabs tintuc_nav">
                                    <li class="active"><a href="#ho-chi-minh" data-toggle="tab" style="z-index: 4; width: 180px; margin-left:-28px;">TP. HỒ CHÍ MINH</a></li>
                                    <li><a href="#ha-noi" data-toggle="tab" style="z-index:3">HÀ NỘI</a></li>
                                </ul>
                            </div>
                            <div class="couse_content">
                                <div class="left-contentfull tab-content">
                                    <div class="tab-pane fade in active" id="ho-chi-minh" style="text-align:justify;">
                                        <div class="center"><img src="/home/img/csvc_hcm.jpg" style="max-width:100%" /> </div>
                                        <p>&nbsp;</p>
                                        <p>3 cơ sở của ACET trong đó có 2 cơ sở tại Quận 3 và cơ sở tại Quận Tân Bình có các phòng học tiện nghi theo chuẩn quốc tế. Sĩ số tối đa mỗi lớp là 18 học viên tại Quận 3 và 20 học viên tại Quận Tân Bình tạo điều kiện cho học viên dễ dàng tiếp cận với giảng viên và các bạn cùng lớp. Các phương tiện học tập hiện đại như máy đèn chiếu, máy tính xách tay và máy chiếu kỹ thuật số, tivi và đầu đĩa được cung cấp để hỗ trợ cho các bài thực tập thuyết trình và học nhóm.</p>
                                        <h3 class="title" style="font-size:18px;">Trung tâm tự học</h3>
                                        <div class="center"><img src="/home/img/ttth_hcm.jpg" style="max-width:100%" /> </div>
                                        <p>&nbsp;</p>
                                        <p>Trung tâm tự học có máy tính đa phương tiện, truyền hình cáp, mạng nội bộ được thiết kế đặc biệt và nguồn tài liệu phong phú được lựa chọn kỹ lưỡng giúp học viên phát triển kỹ năng học tập độc lập và phát triển kỹ năng ngôn ngữ. </p>
                                        <p>Học viên có thể sử dụng máy tính xách tay cá nhân, điện thoại di động để kết nối Internet không dây (WIFI) miễn phí tại Trung tâm Tự học và tất cả các khu vực nội vi của ACET. Trung tâm Tự học cũng có nhiều sách dành cho những học viên có nhu cầu mượn đọc tại nhà. </p>
                                        <p>Sử dụng Trung tâm tự học thường xuyên sẽ giúp học viên:</p>
                                        <ul>
                                            <li>Phát triển kỹ năng học tập độc lập</li>
                                            <li>Phát triển khả năng nghiên cứu </li>
                                            <li>Hiểu cách ứng xử trong thư viện đại học quốc tế </li>
                                            <li>Phát triển khả năng sử dụng Anh ngữ</li>
                                            <li>Hàng tuần giáo viên sẽ giúp học viên nâng cao kỹ năng tại Góc tư vấn học tập</li>
                                        </ul>


                                    </div>
                                    <div class="tab-pane fade " id="ha-noi" style="text-align:justify;">
                                        <div class="center"><img src="/home/img/csvc_hn.jpg" style="max-width:100%" /> </div>
                                        <p>&nbsp;</p>
                                        <p>ACET Hà Nội có 2 cơ sở đặt tại 26 Bích Câu, quận Đống Đa và số 1 Đào Duy Anh, quận Đống Đa. Tất cả các phòng học của ACET đều được trang bị các thiết bị giảng dạy và học tập hiện đại đạt chuẩn quốc tế. Sĩ số tối đa của mỗi lớp là 17 học viên tại Bích Câu và 18 tại Đào Duy Anh. Chính vì vậy, học viên có điều kiện xây dựng mối quan hệ thân thiết với giáo viên và các học viên khác. Học viên cũng có thể sử dụng máy chiếu, máy tính xách tay, tivi và đầu DVD để hỗ trợ cho việc học tập và thực hiện các bài thuyết trình theo nhóm.</p>
                                        <h3 class="title">Trung tâm tự học(ILC)</h3>
                                        <p>Trung tâm tự học cung cấp cho học vên những trang thiết bị cần thiết cho việc học tập độc lập đồng thời củng cố và phát triển những kỹ năng tiếng Anh của học viên ở mọi cấp độ.</p>
                                        <p>Tại trung tâm tự học, máy tính, mạng Internet, các loại tạp chí và tài liệu tự học được biên soạn công phu dành riêng cho các học viên của ACET. </p>
                                        <p>Trung tâm tự học được trang bị Wifi do đó học viên hoàn toàn có thể mang máy tính cá nhân, PDA hoặc Iphone để đọc các tài liệu trên mạng hoặc thực hiện nghiên cứu. Học viên cũng có thể mượn về nhà nhiều loại sách. Ngoài ra, các nhân viên thư viện tại ACET luôn có mặt để sẵn sàng giúp đỡ học viên trong việc tự học đồng thời luôn theo dõi sát sao để đảm bảo học viên tập trung vào việc học thay vì việc phí thời gian tán chuyện với bạn bè trên mạng.</p>
                                        <p>Nếu thường xuyên đến trung tâm tự học của ACET, học viên sẽ:</p>
                                        <ul>
                                            <li>Nâng cao được những kỹ năng học tập độc lập</li>
                                            <li>Nâng cao khả năng hoàn thành các đề tài nghiên cứu</li>
                                            <li>Hình thành những thói quen đúng đắn trong việc sử dụng thư viện tại một trường đại học quốc tế.</li>
                                            <li>Phát triển những kỹ năng tiếng Anh một cách toàn diện.</li>
                                            <li>Hàng tuần giáo viên sẽ giúp học viên nâng cao kỹ năng tại Góc tư vấn học tập</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
    <!-- Recent Blog Posts -->
    @Html.Partial("~/Views/Shared/BottomPage1.cshtml")
</div> <!-- / .wrapper -->
@Html.Partial("~/Views/Shared/RightPage.cshtml")
@section AddToEndBodyJs{
    <script src="http://masonry.desandro.com/masonry.pkgd.js"></script>
    <script src="http://masonry.desandro.com/components/classie/classie.js"></script>
    <script src="/home/js/ekko-lightbox.js"></script>
    <script type="text/javascript" src="/home/js/jquery.nanogallery.js"></script>
    <script type="text/javascript">
        
        $(document).ready(function () {
            fix_right()
        });setTimeout(function(){fix_right();},2000); $( window ).resize(function() {
           fix_right();
        });
        $(window).on("scroll touchmove", function () {

            fix_right()

        });
        $(document).ready(function () {
            $('#pagination-news').twbsPagination({
                totalPages: 2,
                visiblePages: 5,
                onPageClick: function (event, page) {
                    //
                }
            });
        });
        // external js: masonry.pkgd.js

      
        $(document).ready(function ($) {
            // delegate calls to data-toggle="lightbox"
            $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function (event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    onShown: function () {
                        if (window.console) {
                            return console.log('Checking our the events huh?');
                        }
                    },
                    onNavigate: function (direction, itemIndex) {
                        if (window.console) {
                            return console.log('Navigating ' + direction + '. Current item: ' + itemIndex);
                        }
                    }
                });
            });

            //Programatically call
            $('#open-image').click(function (e) {
                e.preventDefault();
                $(this).ekkoLightbox();
            });
            $('#open-youtube').click(function (e) {
                e.preventDefault();
                $(this).ekkoLightbox();
            });

            // navigateTo
            $(document).delegate('*[data-gallery="navigateTo"]', 'click', function (event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    onShown: function () {


                        var a = this.modal_content.find('.modal-footer a');
                        if (a.length > 0) {

                            a.click(function (e) {

                                e.preventDefault();
                                this.navigateTo(2);

                            }.bind(this));

                        }

                    }
                });
            });
        });
        $('#pagination-corp-hcm').twbsPagination({
            totalPages: 3,
            visiblePages: 7,
            startPage: 1,
            onPageClick: function (event, page) {
                // load_corp('hcm', page);
            }
        });
    </script>
}