﻿@{
    ViewBag.Title = "Australian Centre for Education And Training - ACET";
    if(ViewBag.lang.Equals("vi")){
        Layout = "~/Views/Shared/_HomeLayout.cshtml";
    }else{
        Layout = "~/Views/Shared/_HomeLayoutEng.cshtml";
    }
}
@section AddToHeadCss{
<style type="text/css">
     #item-1{
          background-image: url(/home/img/tintuc_banner.jpg);
          background-position: top center;
        }
        .carousel-indicators, .carousel-arrow{
          display: none;
        }
        .tintuc_nav{
          margin-top: 20px;
        }
        .tintuc_nav > li > a{
            background: #f23314;
            color: #fff;
            margin-right: 0px;
            background: url('/home/img/nav-right-news.png') no-repeat top right;
            border-radius: 0px;
              width: 160px;
            margin-left: -28px;
        }
         .tintuc_nav > li.active > a, .tintuc_nav > li.active > a:hover, .tintuc_nav > li.active > a:focus {
            background: #fff;
            color: #f23314;

            border:0px;
            margin-right: 0px;
            background: url('/home/img/nav-right-news-hover.png') no-repeat top right;
            border-radius: 0px;
            border-bottom: 1px solid #f23314;
        }
        .nav-tabs > li > a:hover,.nav-tabs > li > a:focus {
          color: #FFCB00;
           background: #f23314;
            margin-right: 0px;
            background: url('/home/img/nav-right-news.png') no-repeat top right;
            border-radius: 0px;
              width: 160px;
            margin-left: -28px;
            border:0px;
            border-bottom: 1px solid #f23314;
        }
        .nav-tabs{
          border-bottom: 1px solid #f23314;
        }
        .nav-tabs > li {
        }
        .news-img {
          width: 100%;
          height: 200px;
          border-radius: 4px;
        }
        .news-img-item {
          width: 40%;
          height: 100px;
          float: right;
          border-radius: 4px;
          margin: 6px;
          margin-left: 0px;
        }
        h3.title {
          color: #f23314;
            font-weight: 400;
        }
        h4.title {
          color: #f23314;
          font-weight: 400;
        }
        .item-info{
          float: left;
          width: 58%;
          margin-top: 6px;

        }
        .item-content-news {
          margin-left: 0px;
          position: relative;
          overflow: hidden;
          width: 58%;
          height: 40px;
          text-overflow: ellipsis;
          word-spacing: normal;
          word-wrap: break-word;
          white-space: normal;
        }
        .date_info.item-info{
           margin-top: -6px;
        }
        .box-news-right{
          background: #f2f4f3;
          padding-left: 0px;
            margin-bottom: 10px;

        }
        .box-news-right ul li {
          list-style-image: url('/home/img/list_style.png');
          line-height: 22px;
          padding-bottom: 2px;
          padding-right: 6px;
          font-size: 16px;
        }
        .box-news-right h4.title{
          padding-left: 22px;
        }
        .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
          background: #f23315;
          color: #fff;
          border-color: #c81f05;
        }
        .pagination > li > a, .pagination > li > span{
          color:  #f23315;
        }
        .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
          color:  #f23315;
        }
        .clearfix.bottom-item {
          border-bottom: 1px;
          border-bottom-style: dotted;
        }
        h3.title_box{
            font-size: 22px;
        }
        input.form-radio {
          height: 14px;
          width: 16px;
          line-height: 14px;
        }
        .title_form{

            font-size: 16px;
          padding-left: 4px;
        }

</style>
}
<!-- Home Slider -->
<div class="home-slider">
    <!-- Carousel -->
    <div id="home-slider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#home-slider" data-slide-to="0" class="active"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <!-- Slide #1 -->
            <div class="item active" id="item-1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 hide">
                            <h3 class="animated slideInDown delay-3">ACET DISCOUNT 15% FOR NEW FIRST STEPS CLASS</h3>

                            <a href="#" class="btn btn-lg btn-red animated fadeInUpBig delay-5">Register Now</a>
                        </div>
                        <div class="col-sm-6 hidden-xs hide">
                            <img class="img-responsive" src="/home/img/tintuc_banner.jpg" alt="...">
                        </div>
                    </div> <!-- / .row -->
                </div> <!-- / .container -->
            </div> <!-- / .item -->
            <!-- Slide #2 -->

        </div> <!-- / .carousel -->
        <!-- Controls -->
        <a class="carousel-arrow carousel-arrow-prev" href="#home-slider" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-arrow carousel-arrow-next" href="#home-slider" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div> <!-- / .home-slider -->
<!-- Services -->
<div class="container">
    <ul class="breakcrumb">
        <li>TRANG CHỦ</li>
        <li>> CÂU CHUYỆN THÀNH CÔNG</li>
    </ul>
</div>
<div class="container show_1024">
    <div class="row">
        @Html.Partial("~/Views/Shared/CenterBar.cshtml")
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <!-- Navs -->
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs tintuc_nav">
                        <li class="active"><a href="#ae-ielts" data-toggle="tab" style="z-index:4;width:280px;">ANH NGỮ HỌC THUẬT VÀ IELTS</a></li>
                        <li><a href="#first-step" data-toggle="tab" style="z-index: 3; margin-left: -40px;">FIRST STEPS</a></li>
                    </ul>
                </div>

            </div>
            <div class="row">
                <div class="tab-content">
                    <!-- Tin uu dai-->
                    <div class="tab-pane fade in active" id="ae-ielts">
                        <div class="row ">
                            <div class="col-xs-12 col-md-6" style="float:right">
                                <div class="col-xs-12 left-panel-1" >

                                    <div id="dt_1" class="cctc_detail">

                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 right-panel-1">
                                <div id="ini_1">

                                </div>
                            </div>
                           
                        </div>

                        <div class="row " style="margin-top:15px;">
                            <div class="col-xs-12 col-md-6 left-panel-2 ">
                                <div class="col-xs-12 left-panel-1 " >
                                    <div id="dt_2" class="cctc_detail">

                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 left-panel-1">
                                <div class="right-panel-2" style="" id="ini_2">

                                </div>
                            </div>

                        </div>


                    </div>
                    <!-- Tin uu dai-->
                    <div class="tab-pane fade" id="first-step">
                        <div class="row ">
                            <div class="col-xs-12 col-md-6" style="float:right">
                                <div class="col-xs-12 left-panel-1">
                                    <div id="dt_1" class="cctc_detail">

                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 right-panel-1">
                                <div id="ini_1">

                                </div>
                            </div>

                        </div>

                        <div class="row " style="margin-top:15px;">
                            <div class="col-xs-12 col-md-6 left-panel-2 ">
                                <div class="col-xs-12 left-panel-1 ">

                                    <div id="dt_2" class="cctc_detail">

                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 left-panel-1">
                                <div class="right-panel-2" style="" id="ini_2">


                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Tin uu dai-->
               
                </div>
            </div>

        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->
<!-- Recent Blog Posts -->
<div class="container" style="margin-top:20px;">
    <div class="row bottom-page">
        @*<div class="col-sm-4">
                <img src="/home/img/ads_news_right.jpg" width='100%' />
            </div>*@
        <div class="col-sm-4">

            <img src="/home/img/hoc_bong.jpg" width='100%' style="margin-bottom:4px">

            <a href="http://www.idp.com/vietnam"><img src="/home/img/du_hoc.jpg" width='100%' style="margin-top:4px"></a>

</div>
       @Html.Partial("~/Views/Shared/ResourceDocument.cshtml")
        <div class="col-sm-4">
            <div class="couse_title center" style="font-size:18px;margin-right:0px;">ĐĂNG KÝ ĐỂ ĐƯỢC TƯ VẤN</div>
            <div style="padding: 10px 12px 0px 12px; margin: -12px 0px 0px 0px; border: 1px solid;min-height:230px;">
                <iframe frameborder="0" width="100%" height="200" src="http://www.cjs.vn/subscribe/96a4999dd571c9080d16dd6895beb564/" id="cjsform" scrolling="no" seamless="seamless"></iframe>
                
            </div>
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->
@Html.Partial("~/Views/Shared/RightPage.cshtml")
@section AddToEndBodyJs{
    <script type="text/javascript">
        var current_page = 0;
        var current_page_2 = 0;
        function load_next(page, element) {
            console.log('yeah');
            list_testimonial(page + 1, element);
            return false;
        }
        function load_prev(page, element) {
            console.log('yeah 2');
            if (page > 0) {
                list_testimonial(page - 1, element);
            }
        }
        function list_testimonial(page, element) {
            var limit = 9; var cus_type=1;
            var offset = page * limit;
            if (element == '#ae-ielts') {
                cus_type = 1;
            } else {
                cus_type = 5;
            }
            $.get('/api/articles/', { cus_type: cus_type, limit: limit, offset: offset }).done(function (rs) {
                var htmlstr='';
                if (rs.data.length > 0) {
                    $.each(rs.data, function (i, j) {
                        j[1] = j[1].replace(/–/g, '-');
                        var t_arr = j[1].split('-');
                        if (!t_arr[2]) {
                            t_arr[2] = '';
                        }
                        if (!t_arr[1]) {
                            t_arr[1] = '';
                        }

                        htmlstr += ' <div class="col-xs-12 item-news-child" id="item-'+j[0]+'">';
                        htmlstr += '   <div class="news-img-item" style="background:url(' + j[4] + ') no-repeat top center;background-size:150px 100px;"></div>';
                        htmlstr += '     <input type="hiden" class="t0 hide" value="'+j[4]+'"/>';
                        htmlstr += '     <h4 class="title item-info t1" style="margin-bottom:6px;">' + t_arr[0] + '</h4>';
                        htmlstr += t_arr[2] != "" ? '     <h4 class="title item-info t2" style="margin: 0px 0px 6px 0px;">' + t_arr[2] + '</h4>' : "";
                        htmlstr += '     <p class="item-content-news t3">' + t_arr[1] + '</p>';
                        htmlstr += '     <div class="clearfix bottom-item"></div> <div id="more_info" class="hide">'+j[3]+'</div></div>';
                        if (i == 3 || (i == (rs.data.length - 1) && i<4)) {
                            htmlstr += ' <div class="col-xs-12">   <img src="/home/img/success-1.jpg" width="100%" />  </div>';
                            $(element + ' #ini_1').html(htmlstr);
                          //  load_detail_testimonial(element, img, name, t1, t2, t3)
                            htmlstr = '';
                            $(element + ' #ini_1 .item-news-child').first().trigger('click');
                        }
                        if ((i == 8 || i == (rs.data.length - 1)) && i>3) {
                            htmlstr += '<div class="outside" style=" margin-right: 18px;">   <p><span id="eslider-prev"><a class="bx-prev" href="#" onclick="load_prev(' + page + ',\'' + element + '\');return false;"><img src="/home/img/arrow_l.png"></a></span>  <span id="eslider-next"><a class="bx-next" href="#" onclick="load_next(' + page + ',\'' + element + '\');return false;"><img src="/home/img/arrow_r.png"></a></span></p>  </div>';
                            $(element + ' #ini_2').html(htmlstr);
                            $(element + ' #ini_2 .item-news-child').first().trigger('click');
                        }

                    });
                    if (rs.data.length < 5) {
                        $(element + ' #ini_2').parent().parent().addClass('hide');
                    }
                    if (rs.data.length >= 5) {
                        $(element + ' #ini_2').parent().parent().removeClass('hide');
                    }
                }
            });
        }
        list_testimonial(current_page, '#ae-ielts');
        list_testimonial(current_page_2, '#first-step');
        function load_detail_testimonial(element, img, name, t1, t2, t3) {
            htmlstr = "";
            htmlstr += '<img src="' + img + '" width="100%"><h4 class="title" style="margin-left:15px;margin-right:15px;">' + name + '</h4>';
            htmlstr += (t1 != undefined ? '<h4 class="title" style="margin-left:15px;margin-right:15px;">' + t1 + '</h4>' : '') + '<p style="color:#f23315;margin-left:15px;margin-right:15px;">' + t2 + '</p>';
            htmlstr += '<p class="success-content" style="margin-left:15px;margin-right:15px;">' + t3 + '</p>';
            $('#' + element).html(htmlstr);
        }
        function get_img_first(html, defaultimg) {
            try{
                //var img = $(html).find('img')[0];
                //if (!img) {
                    return "" + defaultimg;
                //}
                //return "" + $(img).attr("src");
            }catch(err){
                return "" + defaultimg;
            }
        }
        $(window).on("scroll touchmove", function () {

            if ($(document).scrollTop() >= 1254) {
                var fix_top = 1254 - $(document).scrollTop() + 55;
                $('#dvRight2').attr("style", "display:block;top: " + fix_top + "px");

            } else {
                if ($(document).scrollTop() > 1) {
                    var fix_top = 285 - $(document).scrollTop() + 55;
                    if (fix_top < 45) {
                        fix_top = 45;
                    }
                    $('#dvRight2').attr("style", "display:block;top: " + fix_top + "px");
                } else {
                    $('#dvRight2').attr("style", "display:none");
                }
            }
        });
  
        $(document).ready(function ($) {
            // delegate calls to data-toggle="lightbox"
            $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function (event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    onShown: function () {
                        if (window.console) {
                            return console.log('Checking our the events huh?');
                        }
                    },
                    onNavigate: function (direction, itemIndex) {
                        if (window.console) {
                            return console.log('Navigating ' + direction + '. Current item: ' + itemIndex);
                        }
                    }
                });
            });

            //Programatically call
            $('#open-image').click(function (e) {
                e.preventDefault();
                $(this).ekkoLightbox();
            });
            $('#open-youtube').click(function (e) {
                e.preventDefault();
                $(this).ekkoLightbox();
            });

            // navigateTo
            $(document).delegate('*[data-gallery="navigateTo"]', 'click', function (event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    onShown: function () {

                        var a = this.modal_content.find('.modal-footer a');
                        if (a.length > 0) {

                            a.click(function (e) {

                                e.preventDefault();
                                this.navigateTo(2);

                            }.bind(this));

                        }

                    }
                });
            });


        });

        $(document).on('click', '.item-news-child', function (e) {
            rooElement = $(this).parent().parent().parent().parent().attr("id");
            element = $(this).parent().parent().parent().find('.cctc_detail').attr("id");
            t1 = $(this).find('.t1').html();
            t2 = $(this).find('.t2').html();
            t3 = $(this).find('.t3').html();
            t4 = $(this).find('#more_info').text().replace(/\[xuonghang\]/g, "<br />");
            //t4 = $(this).find('#more_info').html();
            img = get_img_first($(this).find('#more_info').html(), $(this).find('.t0').val())
            load_detail_testimonial(rooElement+' #'+element, img, t1, t2, t3, t4);
        });
    </script>
}