﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<body>
    <script src="/home/js/jquery.js"></script>
    <script type="text/javascript">
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + "; " + expires;
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        }

        function checkCookie() {
            var is_answer = getCookie("is_answer");
            if (is_answer != "") {
                window.location.href = "/";
            } else {
                var answer = getCookie("answer");
                var email = getCookie("email");
                $.post('/Home/SendMailTestDone', {data:data}).success(function (rs) {
                    window.location.href = "/";
                }).fail(function (rs) {
                    window.location.href = "/";
                });
            }
        }
    </script>
</body>
</html>
