﻿.nanogallery_theme_default #nanoGalleryViewer .toolbar .label .title{
    white-space:normal;
}
.tintuc_nav > li > a.tphcm {
    margin-left: -12px;
    padding-right: 20px;
}
.center {
    text-align: center;
}
.promotionSlider p.title, .eventsSlider p.title{
    min-height: auto;
}
.box-news-right{
        text-align: justify;
    padding-right: 15px;
}
.hop-tac-iframe {
    min-height: 450px !important;
    width: 100%;
}

.red3 {
    color: #f23314;
}

.fc-header-left, .fc-header-right {
    width: 10%;
}

.mrtop10 {
    margin-top: 10px;
}
.content-tt.ellipsis {
      overflow: hidden;
    height: 115px;
    text-align:justify;
}
.content-tt.ellipsis:before {
        content: "";
        float: left;
        width: 5px;
        height: 135px;
    }
    .content-tt.ellipsis:after {
    top:-40px;
    }
.promotionSlider .ellipsis {
    overflow: hidden;
    height: 110px;
    text-align:justify;
}
.promotionSlider .ellipsis:before {
        content: "";
        float: left;
        width: 5px;
        height: 115px;
    }
.eventsSlider .ellipsis {
    overflow: hidden;
    height: 130px;
    text-align:justify;
}

.eventsSlider .ellipsis:before {
        content: "";
        float: left;
        width: 5px;
        height: 135px;
    }

    .ellipsis > *:first-child {
        float: right;
        width: 100%;
        margin-left: -5px;
    }

    .ellipsis:after {
        content: "\02026";
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        float: right;
        position: relative;
        top: -25px;
        left: 100%;
        width: 3em;
        margin-left: -3em;
        padding-right: 5px;
        text-align: right;
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
        background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    }

@media (max-width:767px) {
    .clearfix button.btn.btn-red.pull-right{
        margin-bottom: 10px;
    }
    .ellipsis{
        margin-top: 10px;
    }
    .eventsSlider .item-post{
        padding:0;
    }
    .eventsSlider .item-post .col-sm-5.no-padding{
        padding-left:12px;
        padding-right:12px;
    }
    .content-wrapper img {
        max-width: 100%;
    }

    .pagination li.first, .pagination li.last {
        display: none;
    }

    .search_1 {
        width: 100%;
        margin-top: 0px;
        margin-right: 0;
        padding-right: 68px;
        clear: both;
        float: none;
        margin-bottom: 10px;
    }

    .left-panel-1 {
        padding-left: 12px;
    }

    .right-panel-1 {
        padding-right: 0px;
    }

    .left-panel-2 {
        padding-right: 0px;
        padding-left: 12px;
        padding-top: 6px;
    }

    .right-panel-2 {
        margin-right: 0px;
    }

    .outside span {
        display: initial;
        text-align: right;
    }

    .outside {
        clear: both;
        float: right;
    }

    div#map-canvas {
        margin-bottom: 15px;
    }

    .couse_title {
        margin-right: 10px;
        margin-top: 10px;
    }

    .label-grey.center.red strong, .label-grey.center.red span {
        width: 100%;
        display: block;
        text-align: center;
    }
}

@media (max-width:414px) {
    .hop-tac-iframe {
        min-height: 570px !important;
        width: 100%;
    }

    .tintuc_nav.news-page > li {
        width: 20%;
        font-size: 12px;
    }

        .tintuc_nav.news-page > li a {
            width: 140px;
            padding-right: 0px;
            text-align: center;
        }

        .tintuc_nav.news-page > li.active a {
            margin-top: 1px;
            margin-bottom: -1px;
        }

        .tintuc_nav.news-page > li:first-child a, .tintuc_nav.news-page > li:first-child a:hover, .tintuc_nav.news-page > li:first-child a:focus {
            margin-left: -30px;
        }

        .tintuc_nav.news-page > li a:hover, .tintuc_nav.news-page > li a:focus, .tintuc_nav.news-page > li a {
            margin-left: -25px;
            margin-right: 10px;
        }

    ul#pagination-news-2 li.first, ul#pagination-news-2 li.last, ul#pagination-news-2 li.prev, ul#pagination-news-2 li.next {
        display: none;
    }

    h2.box {
        white-space: nowrap;
        padding: 0;
        background-position: center center;
        margin: 0;
        width: 100%;
        text-align: left;
        padding-left: 6px;
    }

    .year_title span {
        font-size: 28px;
    }

    .year_title .fa-angle-left {
        margin-top: 0px;
        font-size: 40px;
    }

    .year_title .fa-angle-right {
        margin-top: -40px;
        font-size: 40px;
    }
}

@media (max-width:320px) {
    h2.box {
        font-size: 18px;
        margin-bottom: 10px;
        }

}
