﻿@{
    ViewBag.Title = "Australian Centre for Education And Training - ACET";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@section AddToHeadCss{
    <link rel="stylesheet prefetch" href="http://nanogallery.brisbois.fr/css/nanogallery.css">
    <link href="/home/css/ekko-lightbox.css" rel="stylesheet">
    <style type="text/css">
        p.in-1 {
            padding: 0px 0px 12px 12px;
        }

        thead td {
            background: #b8b8b8;
        }

        #item-1 {
            background-image: url(/home/img/tintuc_banner.jpg);
            background-position: top center;
        }

        .carousel-indicators, .carousel-arrow {
            display: none;
        }

        .tintuc_nav {
            margin-top: 20px;
        }

            .tintuc_nav > li > a {
                background: #f23314;
                color: #fff;
                margin-right: 0px;
                background: url('/home/img/nav-right-news.png') no-repeat top right;
                border-radius: 0px;
                width: 160px;
                margin-left: -38px;
            }

            .tintuc_nav > li.active > a, .tintuc_nav > li.active > a:hover, .tintuc_nav > li.active > a:focus {
                background: #fff;
                color: #f23314;
                border: 0px;
                margin-right: 0px;
                background: url('/home/img/nav-right-news-hover.png') no-repeat top right;
                border-radius: 0px;
                border-bottom: 1px solid #f23314;
            }

        .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
            color: #FFCB00;
            background: #f23314;
            margin-right: 0px;
            background: url('/home/img/nav-right-news.png') no-repeat top right;
            border-radius: 0px;
            width: 160px;
            margin-left: -38px;
            border: 0px;
            border-bottom: 1px solid #f23314;
        }

        .nav-tabs {
            border-bottom: 1px solid #f23314;
        }

            .nav-tabs > li {
            }

        .news-img {
            width: 100%;
            height: 200px;
            border-radius: 4px;
        }

        .news-img-item {
            width: 30%;
            height: 120px;
            float: left;
            border-radius: 4px;
            margin: 6px;
            margin-left: 0px;
        }

        h3.title {
            color: #f23314;
            font-weight: 400;
        }

        h4.title {
            color: #f23314;
            font-weight: 400;
        }

        .item-info {
            float: left;
            width: 66%;
            margin-top: 6px;
        }

        .item-content-news {
            margin-left: 0px;
            position: relative;
            overflow: hidden;
            width: 66%;
            height: 40px;
            text-overflow: ellipsis;
            word-spacing: normal;
            word-wrap: break-word;
            white-space: normal;
        }

        .date_info.item-info {
            margin-top: -6px;
        }

        .box-news-right {
            background: #f2f4f3;
            padding-left: 0px;
            margin-bottom: 10px;
        }

            .box-news-right ul li {
                list-style-image: url('/home/img/list_style.png');
                line-height: 22px;
                padding-bottom: 2px;
                padding-right: 6px;
                font-size: 16px;
            }

            .box-news-right h4.title {
                padding-left: 22px;
            }

        .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
            background: #f23315;
            color: #fff;
            border-color: #c81f05;
        }

        .pagination > li > a, .pagination > li > span {
            color: #f23315;
        }

            .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
                color: #f23315;
            }

        h3.title_box {
            font-size: 22px;
        }

        input.form-radio {
            height: 14px;
            width: 16px;
            line-height: 14px;
        }

        .title_form {
            font-size: 16px;
            padding-left: 4px;
        }

        .left-col ul {
            list-style: none;
            padding: 0px 6px;
            border: 1px solid #DBDBDB;
            margin-left: 6px;
            margin-right: 6px;
        }

            .left-col ul li {
                border-bottom: 1px dotted #D0D0D0;
                font-size: 14px;
                line-height: 20px;
                padding-top: 4px;
                padding-bottom: 4px;
            }

                .left-col ul li.active {
                    background-color: #f23314;
                    color: #fff;
                    margin-left: -6px;
                    margin-right: -6px;
                }

                .left-col ul li:active, .left-col ul li:hover, .left-col ul li:focus {
                    background-color: #f23314;
                    color: #fff;
                    margin-left: -6px;
                    margin-right: -6px;
                }

                    .left-col ul li.active a, .left-col ul li:active a, .left-col ul li:hover a, .left-col ul li:focus a {
                        color: #fff;
                        padding-left: 6px;
                    }

                .left-col ul li .is_r {
                    display: none;
                }

                .left-col ul li.active .is_r {
                    display: inline-block;
                    float: right;
                    color: #fff;
                    margin-top: -20px;
                    margin-right: 0px;
                    font-size: 20px;
                }

        .year_title .fa-angle-left {
            color: #f23314;
            font-size: 60px;
            float: left;
            display: inline-block;
        }

        .year_title .fa-angle-right {
            color: #f23314;
            font-size: 60px;
            float: right;
            display: inline-block;
            margin-top: -60px;
        }

        .year_title span {
            color: #747474;
            font-size: 42px;
            display: block;
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
    </style>
<link href="/home/css/about.css" rel="stylesheet">
}
@section cusJs{
    <script type="text/javascript" src="/home/js/jssor.js"></script>
    <script type="text/javascript" src="/home/js/jssor.slider.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            var _CaptionTransitions = [];
            _CaptionTransitions["L"] = { $Duration: 900, x: 0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["R"] = { $Duration: 900, x: -0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["T"] = { $Duration: 900, y: 0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["B"] = { $Duration: 900, y: -0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["ZMF|10"] = { $Duration: 900, $Zoom: 11, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 };
            _CaptionTransitions["RTT|10"] = { $Duration: 900, $Zoom: 11, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInExpo }, $Opacity: 2, $Round: { $Rotate: 0.8 } };
            _CaptionTransitions["RTT|2"] = { $Duration: 900, $Zoom: 3, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseInQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInQuad }, $Opacity: 2, $Round: { $Rotate: 0.5 } };
            _CaptionTransitions["RTTL|BR"] = { $Duration: 900, x: -0.6, y: -0.6, $Zoom: 11, $Rotate: 1, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInCubic }, $Opacity: 2, $Round: { $Rotate: 0.8 } };
            _CaptionTransitions["CLIP|LR"] = { $Duration: 900, $Clip: 15, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic }, $Opacity: 2 };
            _CaptionTransitions["MCLIP|L"] = { $Duration: 900, $Clip: 1, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } };
            _CaptionTransitions["MCLIP|R"] = { $Duration: 900, $Clip: 2, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } };

            var options = {
                $HWA: false,
                $FillMode: 2,                                       //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 800,                               //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $CaptionSliderOptions: {                            //[Optional] Options which specifies how to animate caption
                    $Class: $JssorCaptionSlider$,                   //[Required] Class to create instance to animate caption
                    $CaptionTransitions: _CaptionTransitions,       //[Required] An array of caption transitions to play caption, see caption transition section at jssor slideshow transition builder
                    $PlayInMode: 1,                                 //[Optional] 0 None (no play), 1 Chain (goes after main slide), 3 Chain Flatten (goes after main slide and flatten all caption animations), default value is 1
                    $PlayOutMode: 3                                 //[Optional] 0 None (no play), 1 Chain (goes before main slide), 3 Chain Flatten (goes before main slide and flatten all caption animations), default value is 1
                },

                $BulletNavigatorOptions: {                          //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                 //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 8,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 8,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                },

                $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 1,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                }
            };

            var jssor_slider1 = new $JssorSlider$("slider1_container", options);
            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var bodyWidth = document.body.clientWidth;
                if (bodyWidth) {
                    jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });

    </script>
}
@Html.Partial("~/Views/Shared/PageBanner.cshtml")
<div class="container">
    <ul class="breakcrumb">
        <li><a href="/">TRANG CHỦ</a></li>
        <li>> <a href="/idp.html">IDP</a></li>
    </ul>
</div>
<div class="container show_1024">
    <div class="row">
        @Html.Partial("~/Views/Shared/CenterBar.cshtml")
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="left-col">
                    <ul>
                        <li><a href="/gioi-thieu-trung-tam-anh-ngu-acet.html">Giới thiệu</a> <i class="fa fa-angle-right is_r"></i></li>
                        <li><a href="/doi-ngu-giao-vien.html">Đội ngũ giáo viên</a><i class="fa fa-angle-right is_r"></i></li>
                        <li><a href="/tieu-chuan-chat-luong.html">Tiêu chuẩn chất lượng</a><i class="fa fa-angle-right is_r"></i></li>
                        <li><a href="/chung-nhan-giai-thuong.html">Chứng nhận & Giải thưởng</a><i class="fa fa-angle-right is_r"></i></li>
                        <li><a href="/hinh-anh-va-video.html">Hình ảnh & Video</a><i class="fa fa-angle-right is_r"></i></li>
                        <li><a href="/chuong-trinh-hop-tac.html">Chương trình hợp tác</a><i class="fa fa-angle-right is_r"></i></li>
                        <li><a href="/insearch.html">Insearch</a><i class="fa fa-angle-right is_r"></i></li>
                        <li style="border-bottom:none;" class="active"><a href="/idp.html">IDP</a><i class="fa fa-angle-right is_r"></i></li>
                    </ul>
                </div>
                <div class="right-col">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="idp">
                            <div class="couse_title">IDP</div>
                            <div class="couse_content">
                                <div class="left-contentfull" style="text-align:justify;">
                                    <div class="center"><img src="/home/img/idp.png" style="max-width:100%" /> </div>
                                    <p>&nbsp;</p>
                                    <p>IDP (IDP Education) là tổ chức giáo dục hàng đầu thế giới do 38 trường đại học của Australia thành lập vào năm 1969 với hệ thống hơn 80 văn phòng hoạt động tại gần 30 quốc gia trên thế giới. IDP hiện là đại diện cho hơn 600 cơ sở giáo dục đào tạo bao gồm các khóa đào tạo Anh ngữ, các khóa đào tạo nghề, các bậc học Trung học, Cao đẳng, Đại học và Sau đại học.</p>

                                    <p>Là nhà tuyển dụng học sinh, sinh viên lớn nhất cho các trường của Australia, hàng năm, IDP đã giúp cho hàng trăm ngàn sinh viên quốc tế đến Australia du học. Có mặt tại Việt Nam từ năm 1996, IDP hiện đang dẫn đầu trong lãnh vực cung cấp các dịch vụ giáo dục Australia tại Việt Nam. Với gần 40 năm kinh nghiệm về tư vấn du học Australia trên toàn cầu và 12 năm kinh nghiệm tại Việt nam, IDP Education cam kết sử dụng toàn bộ nguồn lực của mình để mang đến chất lượng phục vụ tốt nhất cho các học sinh, sinh viên trên toàn thế giới.</p>
                                    <p>
                                        IDP cũng được rất nhiều học sinh, sinh viên Việt Nam biết đến như là một trong hai trung tâm tổ chức thi IELTS chính thức tại Việt Nam. Các trung tâm thi IELTS của IDP tại Hà Nội và TPHCM đã vinh dự được nhận danh hiệu “Trung tâm thi IELTS tốt nhất của Australia”
                                    </p>
                                    <p>Ngoài ra, IDP còn là một trong các tổ chức hoạt động tích cực nhất trong việc điều phối và quản lý các chương trình học bổng du học toàn phần và bán phần của các trường Australia dành cho học sinh và sinh viên Việt Nam. </p>
                                    <p>Được thành lập từ năm 2002 tại Hà Nội và Tp. Hồ Chí Minh, ACET là dự án hợp tác giữa Tổ chức Giáo dục IDP (www.vietnam.idp.com) và Học viên Insearch (www.insearch.edu.au), trường Đại học Công nghệ Sydney. Với hơn 10 năm danh tiếng trong đào tạo Anh ngữ Học thuật và Luyện thi IELTS và là trung tâm tiếng Anh đầu tiên đưa chương trình Anh Ngữ Học Thuật vào giảng dạy tại Việt Nam, ACET luôn tự hào đã mang lại thành công cho hàng ngàn học viên Việt Nam, giúp họ thành công trong kỳ thi IELTS và tự tin vào khả năng Anh ngữ để sẵn sàng cho việc du học, học tập các chương trình quốc tế hoặc làm việc tại các công ty đa quốc gia.</p>
                                </div>
                            </div>
                        </div>

                       
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
    <!-- Recent Blog Posts -->
    @Html.Partial("~/Views/Shared/BottomPage1.cshtml")
</div> <!-- / .wrapper -->
@Html.Partial("~/Views/Shared/RightPage.cshtml")
@section AddToEndBodyJs{
    <script src="http://masonry.desandro.com/masonry.pkgd.js"></script>
    <script src="/home/js/ekko-lightbox.js"></script>
    <script type="text/javascript" src="http://nanogallery.brisbois.fr/jquery.nanogallery.js"></script>
    <script type="text/javascript">
        function fix_right() {
            if ($(document).scrollTop() > 1) {
                var fix_top = 290 - $(document).scrollTop() + 55;
                if (fix_top < 45) {
                    fix_top = 45;
                }
                $('#dvRight2').attr("style", "display:block;top: " + fix_top + "px");
            } else {
                var fix_top = 435 - $(document).scrollTop();
                $('#dvRight2').attr("style", "display:block;top: " + fix_top + "px");
            }
        }
        $(document).ready(function () {
            fix_right()
        });
        $(window).on("scroll touchmove", function () {

            fix_right()

        });
    </script>
}