﻿@{
    ViewBag.Title = "Recruitment - ACET";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@using ExtensionMethods;
@section AddToHeadCss{
<link rel="stylesheet prefetch" href="http://nanogallery.brisbois.fr/css/nanogallery.css">
<link href="/home/css/ekko-lightbox.css" rel="stylesheet">
<style type="text/css">
    p.in-1 {
        padding: 0px 0px 12px 12px;
    }

    thead td {
        background: #b8b8b8;
    }

    #item-1 {
        background-image: url(/home/img/tintuc_banner.jpg);
        background-position: top center;
    }

    .carousel-indicators, .carousel-arrow {
        display: none;
    }

    .tintuc_nav {
        margin-top: 20px;
    }

        .tintuc_nav > li > a {
            background: #f23314;
            color: #fff;
            margin-right: 0px;
            background: url('/home/img/nav-right-news.png') no-repeat top right;
            border-radius: 0px;
            width: 160px;
            margin-left: -38px;
        }

        .tintuc_nav > li.active > a, .tintuc_nav > li.active > a:hover, .tintuc_nav > li.active > a:focus {
            background: #fff;
            color: #f23314;
            border: 0px;
            margin-right: 0px;
            background: url('/home/img/nav-right-news-hover.png') no-repeat top right;
            border-radius: 0px;
            border-bottom: 1px solid #f23314;
        }

    .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
        color: #FFCB00;
        background: #f23314;
        margin-right: 0px;
        background: url('/home/img/nav-right-news.png') no-repeat top right;
        border-radius: 0px;
        width: 160px;
        margin-left: -38px;
        border: 0px;
        border-bottom: 1px solid #f23314;
    }

    .nav-tabs {
        border-bottom: 1px solid #f23314;
    }

        .nav-tabs > li {
        }

    .news-img {
        width: 100%;
        height: 200px;
        border-radius: 4px;
    }

    .news-img-item {
        width: 30%;
        height: 120px;
        float: left;
        border-radius: 4px;
        margin: 6px;
        margin-left: 0px;
    }

    h3.title {
        color: #f23314;
        font-weight: 400;
    }

    h4.title {
        color: #f23314;
        font-weight: 400;
    }

    .item-info {
        float: left;
        width: 66%;
        margin-top: 6px;
    }

    .item-content-news {
        margin-left: 0px;
        position: relative;
        overflow: hidden;
        width: 66%;
        height: 40px;
        text-overflow: ellipsis;
        word-spacing: normal;
        word-wrap: break-word;
        white-space: normal;
    }

    .date_info.item-info {
        margin-top: -6px;
    }

    .box-news-right {
        background: #f2f4f3;
        padding-left: 0px;
        margin-bottom: 10px;
    }

        .box-news-right ul li {
            list-style-image: url('/home/img/list_style.png');
            line-height: 22px;
            padding-bottom: 2px;
            padding-right: 6px;
            font-size: 16px;
        }

        .box-news-right h4.title {
            padding-left: 22px;
        }

    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        background: #f23315;
        color: #fff;
        border-color: #c81f05;
    }

    .pagination > li > a, .pagination > li > span {
        color: #f23315;
    }

        .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
            color: #f23315;
        }

    h3.title_box {
        font-size: 22px;
    }

    input.form-radio {
        height: 14px;
        width: 16px;
        line-height: 14px;
    }

    .title_form {
        font-size: 16px;
        padding-left: 4px;
    }

    .left-col ul {
        list-style: none;
        padding: 0px 6px;
        border: 1px solid #DBDBDB;
        margin-left: 6px;
        margin-right: 6px;
    }

        .left-col ul li {
            border-bottom: 1px dotted #D0D0D0;
            font-size: 14px;
            line-height: 20px;
            padding-top: 4px;
            padding-bottom: 4px;
        }

            .left-col ul li.active {
                background-color: #f23314;
                color: #fff;
                margin-left: -6px;
                margin-right: -6px;
            }

                .left-col ul li.active a {
                    color: #fff;
                    padding-left: 6px;
                }

            .left-col ul li .is_r {
                display: none;
            }

            .left-col ul li.active .is_r {
                display: inline-block;
                float: right;
                color: #fff;
                margin-top: 0px;
                margin-right: 0px;
                font-size: 20px;
            }

    .year_title .fa-angle-left {
        color: #f23314;
        font-size: 60px;
        float: left;
        display: inline-block;
    }

    .year_title .fa-angle-right {
        color: #f23314;
        font-size: 60px;
        float: right;
        display: inline-block;
        margin-top: -60px;
    }

    .year_title span {
        color: #747474;
        font-size: 42px;
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
</style>

}
@section cusJs{
    <script type="text/javascript" src="/home/js/jssor.js"></script>
    <script type="text/javascript" src="/home/js/jssor.slider.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            var _CaptionTransitions = [];
            _CaptionTransitions["L"] = { $Duration: 900, x: 0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["R"] = { $Duration: 900, x: -0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["T"] = { $Duration: 900, y: 0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["B"] = { $Duration: 900, y: -0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["ZMF|10"] = { $Duration: 900, $Zoom: 11, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 };
            _CaptionTransitions["RTT|10"] = { $Duration: 900, $Zoom: 11, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInExpo }, $Opacity: 2, $Round: { $Rotate: 0.8 } };
            _CaptionTransitions["RTT|2"] = { $Duration: 900, $Zoom: 3, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseInQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInQuad }, $Opacity: 2, $Round: { $Rotate: 0.5 } };
            _CaptionTransitions["RTTL|BR"] = { $Duration: 900, x: -0.6, y: -0.6, $Zoom: 11, $Rotate: 1, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInCubic }, $Opacity: 2, $Round: { $Rotate: 0.8 } };
            _CaptionTransitions["CLIP|LR"] = { $Duration: 900, $Clip: 15, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic }, $Opacity: 2 };
            _CaptionTransitions["MCLIP|L"] = { $Duration: 900, $Clip: 1, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } };
            _CaptionTransitions["MCLIP|R"] = { $Duration: 900, $Clip: 2, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } };

            var options = {
                $HWA: false,
                $FillMode: 2,                                       //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 800,                               //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $CaptionSliderOptions: {                            //[Optional] Options which specifies how to animate caption
                    $Class: $JssorCaptionSlider$,                   //[Required] Class to create instance to animate caption
                    $CaptionTransitions: _CaptionTransitions,       //[Required] An array of caption transitions to play caption, see caption transition section at jssor slideshow transition builder
                    $PlayInMode: 1,                                 //[Optional] 0 None (no play), 1 Chain (goes after main slide), 3 Chain Flatten (goes after main slide and flatten all caption animations), default value is 1
                    $PlayOutMode: 3                                 //[Optional] 0 None (no play), 1 Chain (goes before main slide), 3 Chain Flatten (goes before main slide and flatten all caption animations), default value is 1
                },

                $BulletNavigatorOptions: {                          //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                 //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 8,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 8,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                },

                $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 1,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                }
            };

            var jssor_slider1 = new $JssorSlider$("slider1_container", options);
            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var bodyWidth = document.body.clientWidth;
                if (bodyWidth) {
                    jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });

    </script>
}
@Html.Partial("~/Views/Shared/PageBanner.cshtml")
<div class="container">
    <ul class="breakcrumb">
        <li><a href="/">TRANG CHỦ</a></li>
        <li>> <a href="/tuyen-dung.html">TUYỂN DỤNG</a></li>
    </ul>
</div>
<div class="container show_1024">
    <div class="row">
        @Html.Partial("~/Views/Shared/CenterBar.cshtml")
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">


            <div class="row">
                <div class="left-col">
                    <ul class="">
                        <li @if (!Request.Url.AbsolutePath.Equals("/tuyen-dung/nhan-vien.html")) { @Html.Raw(" class='active'")   }><a href="#giang-vien" data-toggle="tab">Giảng viên</a> <i class="fa fa-angle-right is_r"></i></li>
                        <li @if (Request.Url.AbsolutePath.Equals("/tuyen-dung/nhan-vien.html")) { @Html.Raw(" class='active'")  }><a href="#nhan-vien" data-toggle="tab">Nhân viên </a><i class="fa fa-angle-right is_r"></i></li>
                       </ul>
                </div>
                <div class="right-col">
                    <div class="tab-content">
               
                        <!-- Tin uu dai-->
                        <div class="tab-pane fade @if (!Request.Url.AbsolutePath.Equals("/tuyen-dung/nhan-vien.html")) { @Html.Raw(" in active")  }" id="giang-vien">
                            @foreach (var item in (List<ACET_WEB.Post>)Model)
                            {
                                if (item.CategoryId == 77)
                                {
                                    <a href="/tuyen-dung/giang-vien/@{@item.Title.NonUnicode()}_@{@item.Id}.html">
                                        <div class="col-xs-12">
                                            <div class="item-recruitment">
                                                <h3 class="item-title">@item.Title</h3>

                                                @if (item.LocationId == 2)
                                                {
                                                    <p>ACET Hà Nội  - (@item.Modified)</p>
                                                }
                                                else if (item.LocationId == 3)
                                                {
                                                    <p>ACET Tp. Hồ Chí Minh  - (@item.Modified)</p>
                                                }
                                                else
                                                {
                                                    <p>ACET Việt Nam  - (@item.Modified)</p>
                                                }

                                            </div>
                                            <img class="img-recruitment" src="@item.Image" width="100px" />
                                        </div>
                                    </a>
                                }

                            }
                        </div>
                        <div class="tab-pane fade @if (Request.Url.AbsolutePath.Equals("/tuyen-dung/nhan-vien.html")) { @Html.Raw(" in active")  }" id="nhan-vien">
                            @foreach (var item in (List<ACET_WEB.Post>)Model)
                            {
                                if (item.CategoryId == 78)
                                {
                                    <a href="/tuyen-dung/nhan-vien/@{@item.Title.NonUnicode()}_@{@item.Id}.html">
                                        <div class="col-xs-12">
                                            <div class="item-recruitment">
                                                <h3 class="item-title">@item.Title</h3>
                                                @if (item.LocationId == 2)
                                                {
                                                    <p>ACET Hà Nội  - (@item.Modified)</p>
                                                }
                                                else if (item.LocationId == 3)
                                                {
                                                    <p>ACET Tp. Hồ Chí Minh  - (@item.Modified)</p>
                                                }
                                                else
                                                {
                                                    <p>ACET Việt Nam  - (@item.Modified)</p>
                                                }

                                            </div>
                                            <img class="img-recruitment" src="@item.Image" width="100px" />
                                        </div>
                                    </a>
                                }

                            }
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
    <!-- Recent Blog Posts -->
    <div class="container" style="margin-top:20px;">
        <div class="row bottom-page" style="margin-right:12px;">
            @*<div class="col-sm-4">
            <img src="/home/img/cctc.jpg" width='100%' />
            <h4 class="title">NGUYEN TIEN THANH</h4>
            <h5 class="title">IELTS 7.0</h5>
            <h5 class="title">A quan duong len dinh Olympia 2012</h5>
            </div>*@
            <div class="col-sm-4">

                <img src="/home/img/hoc_bong.jpg" width='100%' style="margin-bottom:4px">
                <img src="/home/img/du_hoc.jpg" width='100%' style="margin-top:9px">
            </div>
            @Html.Partial("~/Views/Shared/ResourceDocument.cshtml")
            <div class="col-sm-4">
                <div class="couse_title center" style="font-size:18px;margin-right:0px;">ĐĂNG KÝ ĐỂ ĐƯỢC TƯ VẤN</div>
                <div class="iframe1" style="padding: 10px 12px 0px 12px; margin: -12px 0px 0px 0px; border: 1px solid;min-height:230px;">
                    <iframe frameborder="0" width="100%" height="200" src="http://www.cjs.vn/subscribe/96a4999dd571c9080d16dd6895beb564/" id="cjsform" scrolling="no" seamless="seamless"></iframe>
                    <script src="http://static.cjs.vn/js/form/source.js"></script>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</div> <!-- / .wrapper -->
@Html.Partial("~/Views/Shared/RightPage.cshtml")
@section AddToEndBodyJs{
<script src="http://masonry.desandro.com/masonry.pkgd.js"></script>
<script src="http://masonry.desandro.com/components/classie/classie.js"></script>
<script src="/home/js/ekko-lightbox.js"></script>
<script type="text/javascript" src="http://nanogallery.brisbois.fr/jquery.nanogallery.js"></script>
<script type="text/javascript">
    function fix_right() {
        if ($(document).scrollTop() > 1) {
            var fix_top = 290 - $(document).scrollTop() + 55;
            if (fix_top < 45) {
                fix_top = 45;
            }
            $('#dvRight2').attr("style", "display:block;top: " + fix_top + "px");
        } else {
            var fix_top = 435 - $(document).scrollTop();
            $('#dvRight2').attr("style", "display:block;top: " + fix_top + "px");
        }
    }
    $(document).ready(function () {
        fix_right()
    });
    $(window).on("scroll touchmove", function () {

        fix_right()

    });
    $(document).ready(function () {
        $('#pagination-news').twbsPagination({
            totalPages: 2,
            visiblePages: 5,
            onPageClick: function (event, page) {
                //
            }
        });
    });
    // external js: masonry.pkgd.js

    $(document).ready(function () {

        var $grid = $('.tc-grid').masonry({
            columnWidth: 150,
            gutter: 10,
            itemSelector: '.tc-grid-item',

        });

        $grid.on('click', '.tc-grid-item', function () {
            $(this).toggleClass('is-expanded');
            $grid.masonry();
            setTimeout(function () {
                $grid.masonry();
            }, 500);
        });

    });
    function init_video_list() {
        if ($('.videoSlider').parent().is(":visible") && !$('.videoSlider').parent().is('.bx-viewport')) {
            $('.videoSlider').bxSlider({
                pager: false,
                nextSelector: '#vslider-next',
                prevSelector: '#vslider-prev',
                nextText: '<img src="/home/img/arrow_r.png" />',
                prevText: '<img src="/home/img/arrow_l.png" />'
            });
            clearInterval(intervalVideo);
        }

    }
    function init_gallery() {
        if ($('#nanoGallery').parent().is(":visible") && !($('#nanoGallery').hasClass('nanogallery_theme_default'))) {
            jQuery("#nanoGallery").nanoGallery({
                i18n: {
                    breadcrumbHome: ' ',
                },
                thumbnailWidth: 200,
                thumbnailHeight: 200,
                locationHash: false,
                paginationMaxLinesPerPage: 1,
                breadcrumbAutoHideTopLevel: true,
                lazyBuild: 'display',
                thumbnailLazyLoad: true,
                touchAutoOpenDelay: -1,
                colorSchemeViewer: 'dark',
                thumbnailHoverEffect: 'borderLighter,imageScaleIn80',
                itemsBaseURL: '/demonstration/'
            });
            clearInterval(intervalGallery);
        }
    }
    var intervalGallery;
    var intervalVideo;
    intervalGallery = setInterval(init_gallery, 500);
    intervalVideo = setInterval(init_video_list, 500);
    $(document).ready(function ($) {
        // delegate calls to data-toggle="lightbox"
        $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function (event) {
            event.preventDefault();
            return $(this).ekkoLightbox({
                onShown: function () {
                    if (window.console) {
                        return console.log('Checking our the events huh?');
                    }
                },
                onNavigate: function (direction, itemIndex) {
                    if (window.console) {
                        return console.log('Navigating ' + direction + '. Current item: ' + itemIndex);
                    }
                }
            });
        });

        //Programatically call
        $('#open-image').click(function (e) {
            e.preventDefault();
            $(this).ekkoLightbox();
        });
        $('#open-youtube').click(function (e) {
            e.preventDefault();
            $(this).ekkoLightbox();
        });

        // navigateTo
        $(document).delegate('*[data-gallery="navigateTo"]', 'click', function (event) {
            event.preventDefault();
            return $(this).ekkoLightbox({
                onShown: function () {


                    var a = this.modal_content.find('.modal-footer a');
                    if (a.length > 0) {

                        a.click(function (e) {

                            e.preventDefault();
                            this.navigateTo(2);

                        }.bind(this));

                    }

                }
            });
        });
    });
</script>
}