﻿@{
    ViewBag.Title = "Add New Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHeadCss{
    <link rel="stylesheet" href="@Url.Content("/assets/css/jquery-ui.custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-timepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/daterangepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-datetimepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/colorpicker.css")" />
}
@section AddToEndBodyJs{
    <script src="@Url.Content("/Content/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("/Content/ckfinder/ckfinder.js")"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/additional-methods.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
    <script src="/assets/js/jquery.maskedinput.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script type="text/javascript">
        var editor = CKEDITOR.replace('post_content_vi', {
        });
        CKFinder.setupCKEditor(editor, { basePath: '/Content/ckfinder/' });
        var editor2 = CKEDITOR.replace('post_content_en', {
        });
        CKFinder.setupCKEditor(editor2, { basePath: '/Content/ckfinder/' });
        $('#article-form').validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            rules: {
                title_vi: {
                    required: true,

                },
                title_en: {
                    required: true,
                },
                desc_vi: {
                    required: true,

                },
                desc_en: {
                    required: true,

                },


            },
            messages: {


            },


            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                $(e).remove();
            },

            errorPlacement: function (error, element) {
                if (element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                    var controls = element.closest('div[class*="col-"]');
                    if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else if (element.is('.select2')) {
                    error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                }
                else if (element.is('.chosen-select')) {
                    error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                }
                else error.insertAfter(element);
            },

            submitHandler: function (form) {
            },
            invalidHandler: function (form) {
            }
        });
        $('.btn-save').on('click', function () {

            if (!$('#article-form').valid()) {
                return false;
            }
            console.log($('#article-form'));
            $('#article-form')[0].submit();
        });
    </script>
<script type="text/javascript">
    function BrowseServer() {
        var finder = new CKFinder();
        finder.basePath = '/Content/ckfinder/';
        finder.selectActionFunction = SetFileField;
        finder.resourceType = 'Images';
        finder.popup();
    }
    function SetFileField(fileUrl) {
        $("#xFilePath").attr("src", fileUrl);
        $("#inputImg").attr("value", fileUrl);
    }
</script>
}
<div class="page-header">
    <h1>
        Detail @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Request.QueryString["type"])
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        @{var post = ViewData["post"] as ACET_WEB.Models.ArticleForm;
        if (post == null) { post = new ACET_WEB.Models.ArticleForm(); } }
        <form class="form-horizontal" id="article-form" role="form" action="@Request.Url.AbsoluteUri" method="post">
            <!-- #section:elements.form -->
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right" for="title">
                    Title VI
                </label>
                <div class="col-sm-11">
                    <input type="text" id="post_title_vi" name="title_vi" placeholder="Title Vi" class="form-control" value="@post.title_vi" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right" for="title">
                    Title EN
                </label>
                <div class="col-sm-11">
                    <input type="text" id="post_title_en" name="title_en" placeholder="Title En" class="form-control" value="@post.title_en" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right" for="title">
                    Image
                </label>
                <div class="col-sm-11">

                    <img alt="" src="@post.img" id="xFilePath" name="img2" width="100px;" />
                    <input id="browseServer" value="Browse Server" type="button" onclick="BrowseServer()">
                    <input type="hidden" name="img" id="inputImg" value="@post.img" />



                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right" for="desc">
                    Description VI
                </label>
                <div class="col-sm-11">
                    <textarea id="post_desc_vi" name="desc_vi" placeholder="Short Description" class="form-control" rows="3">@post.desc_vi</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right" for="desc">
                    Description EN
                </label>
                <div class="col-sm-11">
                    <textarea id="post_desc_en" name="desc_en" placeholder="Short Description" class="form-control" rows="3">@post.desc_en</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right" for="content">
                    Content VI
                </label>
                <div class="col-sm-11">
                    <textarea id="post_content_vi" name="content_vi" class="form-control">@post.content_vi</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right" for="content">
                    Content EN
                </label>
                <div class="col-sm-11">
                    <textarea id="post_content_en" name="content_en" class="form-control">@post.content_en</textarea>
                </div>
            </div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info btn-save" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>Submit
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>Reset
                    </button>
                </div>
            </div>
            <div class="hr hr-24">
            </div>
        </form>

        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
