﻿@model ACET_WEB.Medias


@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHeadCss{
    <link rel="stylesheet" href="@Url.Content("/assets/css/jquery-ui.custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-timepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/daterangepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-datetimepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/colorpicker.css")" />
}
@section AddToEndBodyJs{
    <script src="@Url.Content("/Content/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("/Content/ckfinder/ckfinder.js")"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/additional-methods.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
    <script src="/assets/js/jquery.maskedinput.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
   
}

<div class="page-header">
    <h1>
       Media Detail
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">

        <fieldset>
            <legend>Medias</legend>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Title)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Title)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.TitleEng)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.TitleEng)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Link)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Link)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.MediaCategory.Name)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.MediaCategory.Name)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Status)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Status)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Created)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Created)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Modified)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Modified)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Type)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Type)
            </div>
        </fieldset>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
</div></div>