﻿@model ACET_WEB.Medias

@{
    ViewBag.Title = "Media Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHeadCss{
    <link rel="stylesheet" href="@Url.Content("/assets/css/jquery-ui.custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-timepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/daterangepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-datetimepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/colorpicker.css")" />
}
@section AddToEndBodyJs{
    <script src="@Url.Content("/Content/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("/Content/ckfinder/ckfinder.js")"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/additional-methods.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
    <script src="/assets/js/jquery.maskedinput.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
       <script src="@Url.Content("/assets/js/date-time/moment.min.js")"> </script>
    <script src="@Url.Content("/assets/js/date-time/bootstrap-datepicker.min.js")" ></script>
    <script src="@Url.Content("/assets/js/date-time/bootstrap-datetimepicker.min.js")" ></script>
    <script type="text/javascript">
            $(function () {
                $('#created').datetimepicker();
            });
        function BrowseServer() {
            var finder = new CKFinder();
            finder.basePath = '/Content/ckfinder/';
            finder.selectActionFunction = SetFileField;
            finder.resourceType = 'Images';
            finder.popup();
        }
        function SetFileField(fileUrl) {
            $("#xFilePath").attr("src", fileUrl);
            $("#inputImg").attr("value", window.location.origin + fileUrl);
        }
         $('.btn.btn-primary').on('click', function(e){
        	if($('#Type').val()=='video'){
        		$('#inputImg').val($('#inputImg_tmp').val());
        	}
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="page-header">
    <h1>
        Media Edit
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Medias</legend>

                @Html.HiddenFor(model => model.Id)
                <div class="editor-label">
                    @Html.LabelFor(model => model.CategoryId, "MediaCategory")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("CategoryId")
                    @Html.ValidationMessageFor(model => model.CategoryId)
                </div>



                <div class="editor-label">
                    @Html.LabelFor(model => model.Type)
                </div>
                <div class="editor-field">
                    @{
            var type_select = new List<SelectListItem>() {
                              
                             @*new SelectListItem(){
        Text="Image",Value="image"
    },*@
                             new SelectListItem(){
                            Text="Video",Value="video"
                            },
                        };
                    type_select.FirstOrDefault(p => p.Value.Equals(Model.Type)).Selected = true;
                    }
                    @Html.DropDownListFor(model => model.Type, type_select)
                    @Html.ValidationMessageFor(model => model.Type)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Title)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.TitleEng)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TitleEng)
                    @Html.ValidationMessageFor(model => model.TitleEng)
                </div>
                 <div class="editor-label">
                    @Html.LabelFor(model => model.Created)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Created, new { @class = "form-control", @id = "created" })
                    @Html.ValidationMessageFor(model => model.Created)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Link)
                </div>
                <div class="editor-field">
                    @if(Model.Type.Equals("image")){
                        <img alt="" src="@Model.Link" id="xFilePath" name="img2" width="100px;" />
                    }
                    @Html.TextBoxFor(model => model.Link, new { @class = "form-control-2 hide", @id = "inputImg" })
                     <input type="text" class="form-control-2 " name="img_tmp" id="inputImg_tmp" value="@Model.Link" />
                    <input id="browseServer" value="Browse Server" type="button" onclick="BrowseServer()">
                    @Html.ValidationMessageFor(model => model.Link)
                </div>

                
                <br />
                <p>
                    <input class="btn btn-primary" type="submit" value="Save" />
                </p>
            </fieldset>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>